body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:29px;
  background:inherit;
  background-color:rgba(180, 198, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17743 {
  position:absolute;
  left:95px;
  top:26px;
  width:1523px;
  height:29px;
}
#u17744 {
  position:absolute;
  left:2px;
  top:6px;
  width:1519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17745 {
  position:absolute;
  left:95px;
  top:72px;
  width:1523px;
  height:469px;
}
#u17746 {
  position:absolute;
  left:2px;
  top:226px;
  width:1519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17747 {
  position:absolute;
  left:203px;
  top:99px;
  width:305px;
  height:30px;
}
#u17748 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17749 {
  position:absolute;
  left:134px;
  top:105px;
  width:59px;
  height:18px;
}
#u17750 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17751 {
  position:absolute;
  left:676px;
  top:99px;
  width:320px;
  height:30px;
}
#u17752 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17753 {
  position:absolute;
  left:616px;
  top:105px;
  width:44px;
  height:18px;
}
#u17754 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u17755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17755 {
  position:absolute;
  left:672px;
  top:153px;
  width:324px;
  height:30px;
}
#u17756 {
  position:absolute;
  left:2px;
  top:7px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17757 {
  position:absolute;
  left:603px;
  top:159px;
  width:59px;
  height:18px;
}
#u17758 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17759 {
  position:absolute;
  left:120px;
  top:32px;
  width:30px;
  height:18px;
}
#u17760 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u17761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17761 {
  position:absolute;
  left:203px;
  top:153px;
  width:305px;
  height:30px;
}
#u17762 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17763 {
  position:absolute;
  left:131px;
  top:159px;
  width:59px;
  height:18px;
}
#u17764 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:29px;
  background:inherit;
  background-color:rgba(180, 198, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17765 {
  position:absolute;
  left:95px;
  top:605px;
  width:1523px;
  height:29px;
  text-align:left;
}
#u17766 {
  position:absolute;
  left:2px;
  top:7px;
  width:1519px;
  word-wrap:break-word;
}
#u17767 {
  position:absolute;
  left:118px;
  top:677px;
  width:1388px;
  height:115px;
}
#u17768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u17768 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u17769 {
  position:absolute;
  left:2px;
  top:17px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
}
#u17770 {
  position:absolute;
  left:45px;
  top:0px;
  width:55px;
  height:50px;
}
#u17771 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u17772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
}
#u17772 {
  position:absolute;
  left:100px;
  top:0px;
  width:176px;
  height:50px;
}
#u17773 {
  position:absolute;
  left:2px;
  top:18px;
  width:172px;
  word-wrap:break-word;
}
#u17774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
}
#u17774 {
  position:absolute;
  left:276px;
  top:0px;
  width:121px;
  height:50px;
}
#u17775 {
  position:absolute;
  left:2px;
  top:18px;
  width:117px;
  word-wrap:break-word;
}
#u17776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:50px;
}
#u17776 {
  position:absolute;
  left:397px;
  top:0px;
  width:106px;
  height:50px;
}
#u17777 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u17778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u17778 {
  position:absolute;
  left:503px;
  top:0px;
  width:172px;
  height:50px;
}
#u17779 {
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u17780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u17780 {
  position:absolute;
  left:675px;
  top:0px;
  width:90px;
  height:50px;
}
#u17781 {
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u17782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u17782 {
  position:absolute;
  left:765px;
  top:0px;
  width:104px;
  height:50px;
}
#u17783 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u17784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u17784 {
  position:absolute;
  left:869px;
  top:0px;
  width:104px;
  height:50px;
}
#u17785 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u17786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u17786 {
  position:absolute;
  left:973px;
  top:0px;
  width:104px;
  height:50px;
}
#u17787 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u17788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u17788 {
  position:absolute;
  left:1077px;
  top:0px;
  width:104px;
  height:50px;
}
#u17789 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u17790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u17790 {
  position:absolute;
  left:1181px;
  top:0px;
  width:104px;
  height:50px;
}
#u17791 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u17792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:50px;
}
#u17792 {
  position:absolute;
  left:1285px;
  top:0px;
  width:98px;
  height:50px;
}
#u17793 {
  position:absolute;
  left:2px;
  top:18px;
  width:94px;
  word-wrap:break-word;
}
#u17794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u17794 {
  position:absolute;
  left:0px;
  top:50px;
  width:45px;
  height:30px;
}
#u17795 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u17796 {
  position:absolute;
  left:45px;
  top:50px;
  width:55px;
  height:30px;
}
#u17797 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u17798 {
  position:absolute;
  left:100px;
  top:50px;
  width:176px;
  height:30px;
}
#u17799 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u17800 {
  position:absolute;
  left:276px;
  top:50px;
  width:121px;
  height:30px;
}
#u17801 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u17802 {
  position:absolute;
  left:397px;
  top:50px;
  width:106px;
  height:30px;
}
#u17803 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u17804 {
  position:absolute;
  left:503px;
  top:50px;
  width:172px;
  height:30px;
}
#u17805 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17806 {
  position:absolute;
  left:675px;
  top:50px;
  width:90px;
  height:30px;
}
#u17807 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17808 {
  position:absolute;
  left:765px;
  top:50px;
  width:104px;
  height:30px;
}
#u17809 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17810 {
  position:absolute;
  left:869px;
  top:50px;
  width:104px;
  height:30px;
}
#u17811 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17812 {
  position:absolute;
  left:973px;
  top:50px;
  width:104px;
  height:30px;
}
#u17813 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17814 {
  position:absolute;
  left:1077px;
  top:50px;
  width:104px;
  height:30px;
}
#u17815 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17816 {
  position:absolute;
  left:1181px;
  top:50px;
  width:104px;
  height:30px;
}
#u17817 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u17818 {
  position:absolute;
  left:1285px;
  top:50px;
  width:98px;
  height:30px;
}
#u17819 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u17820 {
  position:absolute;
  left:0px;
  top:80px;
  width:45px;
  height:30px;
}
#u17821 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u17822 {
  position:absolute;
  left:45px;
  top:80px;
  width:55px;
  height:30px;
}
#u17823 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u17824 {
  position:absolute;
  left:100px;
  top:80px;
  width:176px;
  height:30px;
}
#u17825 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u17826 {
  position:absolute;
  left:276px;
  top:80px;
  width:121px;
  height:30px;
}
#u17827 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u17828 {
  position:absolute;
  left:397px;
  top:80px;
  width:106px;
  height:30px;
}
#u17829 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u17830 {
  position:absolute;
  left:503px;
  top:80px;
  width:172px;
  height:30px;
}
#u17831 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17832 {
  position:absolute;
  left:675px;
  top:80px;
  width:90px;
  height:30px;
}
#u17833 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17834 {
  position:absolute;
  left:765px;
  top:80px;
  width:104px;
  height:30px;
}
#u17835 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17836 {
  position:absolute;
  left:869px;
  top:80px;
  width:104px;
  height:30px;
}
#u17837 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17838 {
  position:absolute;
  left:973px;
  top:80px;
  width:104px;
  height:30px;
}
#u17839 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17840 {
  position:absolute;
  left:1077px;
  top:80px;
  width:104px;
  height:30px;
}
#u17841 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u17842 {
  position:absolute;
  left:1181px;
  top:80px;
  width:104px;
  height:30px;
}
#u17843 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u17844 {
  position:absolute;
  left:1285px;
  top:80px;
  width:98px;
  height:30px;
}
#u17845 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17846 {
  position:absolute;
  left:110px;
  top:644px;
  width:193px;
  height:18px;
}
#u17847 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u17848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17848 {
  position:absolute;
  left:171px;
  top:571px;
  width:104px;
  height:24px;
}
#u17849 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u17850_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:487px;
}
#u17850p000 {
  position:absolute;
  left:-234px;
  top:233px;
  width:469px;
  height:1px;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
}
#u17850p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:489px;
  height:21px;
}
#u17850p001 {
  position:absolute;
  left:-51px;
  top:-5px;
  width:22px;
  height:22px;
}
#u17850p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u17850p002 {
  position:absolute;
  left:29px;
  top:449px;
  width:22px;
  height:22px;
}
#u17850p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u17850.compound {
  width:0px;
  height:0px;
}
#u17850 {
  position:absolute;
  left:246px;
  top:573px;
  width:1px;
  height:467px;
}
#u17851 {
  position:absolute;
  left:2px;
  top:226px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17852 {
  position:absolute;
  left:126px;
  top:731px;
  width:26px;
  height:21px;
}
#u17853 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17854 {
  position:absolute;
  left:126px;
  top:762px;
  width:26px;
  height:21px;
}
#u17855 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17856 {
  position:absolute;
  left:342px;
  top:569px;
  width:72px;
  height:24px;
}
#u17857 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u17858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17858 {
  position:absolute;
  left:1122px;
  top:105px;
  width:442px;
  height:30px;
}
#u17859 {
  position:absolute;
  left:2px;
  top:7px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17860 {
  position:absolute;
  left:1050px;
  top:111px;
  width:59px;
  height:18px;
}
#u17861 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17862 {
  position:absolute;
  left:1122px;
  top:159px;
  width:442px;
  height:30px;
}
#u17863 {
  position:absolute;
  left:2px;
  top:7px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17864 {
  position:absolute;
  left:1050px;
  top:165px;
  width:59px;
  height:18px;
}
#u17865 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17866 {
  position:absolute;
  left:206px;
  top:206px;
  width:305px;
  height:30px;
}
#u17867 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17868 {
  position:absolute;
  left:134px;
  top:212px;
  width:44px;
  height:18px;
}
#u17869 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u17870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17870 {
  position:absolute;
  left:275px;
  top:925px;
  width:710px;
  height:635px;
}
#u17871 {
  position:absolute;
  left:2px;
  top:310px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u17872 {
  position:absolute;
  left:413px;
  top:1078px;
  width:505px;
  height:295px;
  color:#D7D7D7;
}
#u17873 {
  position:absolute;
  left:2px;
  top:140px;
  width:501px;
  word-wrap:break-word;
}
#u17874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17874 {
  position:absolute;
  left:354px;
  top:1078px;
  width:30px;
  height:18px;
}
#u17875 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u17876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17876 {
  position:absolute;
  left:589px;
  top:978px;
  width:87px;
  height:18px;
}
#u17877 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u17878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u17878 {
  position:absolute;
  left:419px;
  top:1383px;
  width:173px;
  height:13px;
  font-size:11px;
  color:#C9C9C9;
}
#u17879 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u17880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17880 {
  position:absolute;
  left:468px;
  top:1462px;
  width:112px;
  height:26px;
}
#u17881 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u17882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17882 {
  position:absolute;
  left:735px;
  top:1462px;
  width:112px;
  height:26px;
}
#u17883 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u17884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17884 {
  position:absolute;
  left:608px;
  top:571px;
  width:72px;
  height:24px;
}
#u17885 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u17886_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:262px;
}
#u17886p000 {
  position:absolute;
  left:-121px;
  top:120px;
  width:243px;
  height:2px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u17886p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:263px;
  height:22px;
}
#u17886p001 {
  position:absolute;
  left:-125px;
  top:140px;
  width:22px;
  height:22px;
}
#u17886p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u17886p002 {
  position:absolute;
  left:103px;
  top:79px;
  width:22px;
  height:22px;
}
#u17886p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u17886.compound {
  width:0px;
  height:0px;
}
#u17886 {
  position:absolute;
  left:759px;
  top:430px;
  width:1px;
  height:242px;
}
#u17887 {
  position:absolute;
  left:2px;
  top:113px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u17888 {
  position:absolute;
  left:887px;
  top:504px;
  width:116px;
  height:18px;
  color:#FF0000;
}
#u17889 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u17890 {
  position:absolute;
  left:676px;
  top:739px;
  width:100px;
  height:210px;
}
#u17890_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17891 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:215px;
}
#u17892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17892 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17893 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17894 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u17895 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17896 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u17897 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17898 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u17899 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17900 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u17901 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17902 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u17903 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17904 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
}
#u17905 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17906 {
  position:absolute;
  left:514px;
  top:571px;
  width:72px;
  height:24px;
}
#u17907 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u17908_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:262px;
}
#u17908p000 {
  position:absolute;
  left:-121px;
  top:120px;
  width:244px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u17908p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:264px;
  height:21px;
}
#u17908p001 {
  position:absolute;
  left:108px;
  top:109px;
  width:22px;
  height:22px;
}
#u17908p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u17908p002 {
  position:absolute;
  left:-129px;
  top:109px;
  width:22px;
  height:22px;
}
#u17908p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u17908.compound {
  width:0px;
  height:0px;
}
#u17908 {
  position:absolute;
  left:1607px;
  top:273px;
  width:1px;
  height:242px;
}
#u17909 {
  position:absolute;
  left:2px;
  top:113px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u17910 {
  position:absolute;
  left:1770px;
  top:365px;
  width:300px;
  height:30px;
  color:#FF0000;
}
#u17911 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17912 {
  position:absolute;
  left:723px;
  top:573px;
  width:72px;
  height:19px;
}
#u17913 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u17914 {
  position:absolute;
  left:996px;
  top:739px;
  width:100px;
  height:90px;
}
#u17914_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17915 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u17916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17916 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17917 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17918 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u17919 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17920 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u17921 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17922 {
  position:absolute;
  left:886px;
  top:739px;
  width:100px;
  height:150px;
}
#u17922_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17923 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:155px;
}
#u17924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17924 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17925 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17926 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u17927 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17928 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u17929 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17930 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u17931 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17932 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u17933 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17934 {
  position:absolute;
  left:514px;
  top:739px;
  width:100px;
  height:90px;
}
#u17934_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17935 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u17936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17936 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17937 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17938 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u17939 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17940 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u17941 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17942 {
  position:absolute;
  left:657px;
  top:217px;
  width:354px;
  height:31px;
}
#u17943 {
  position:absolute;
  left:2px;
  top:8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17944 {
  position:absolute;
  left:603px;
  top:223px;
  width:59px;
  height:18px;
}
#u17945 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17946 {
  position:absolute;
  left:784px;
  top:223px;
  width:100px;
  height:90px;
}
#u17946_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17947 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u17948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17948 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17949 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17950 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u17951 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17952 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u17953 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
