body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:632px;
  top:38px;
  width:196px;
  height:33px;
}
#u869 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:730px;
  top:71px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u870_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u870_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u870_seg2 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u871 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:49px;
}
#u872 {
  position:absolute;
  left:552px;
  top:477px;
  width:160px;
  height:49px;
}
#u873 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:52px;
}
#u874 {
  position:absolute;
  left:761px;
  top:477px;
  width:150px;
  height:52px;
}
#u875 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:632px;
  top:113px;
  width:196px;
  height:33px;
}
#u877 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:632px;
  top:184px;
  width:196px;
  height:33px;
}
#u879 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:632px;
  top:246px;
  width:196px;
  height:33px;
}
#u881 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:632px;
  top:311px;
  width:196px;
  height:33px;
}
#u883 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:632px;
  top:376px;
  width:196px;
  height:33px;
}
#u885 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:662px;
  top:609px;
  width:146px;
  height:33px;
}
#u887 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:342px;
  top:487px;
  width:171px;
  height:33px;
}
#u889 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:950px;
  top:487px;
  width:123px;
  height:33px;
}
#u891 {
  position:absolute;
  left:2px;
  top:9px;
  width:119px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:342px;
  top:597px;
  width:171px;
  height:33px;
}
#u893 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:730px;
  top:146px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u894_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u894_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u894_seg2 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u895 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:730px;
  top:217px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u896_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u896_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u896_seg2 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u897 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:730px;
  top:279px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u898_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u898_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u898_seg2 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u899 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900 {
  position:absolute;
  left:730px;
  top:344px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u900_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u900_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u900_seg2 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u901 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:730px;
  top:409px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u902_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u902_seg1 {
  position:absolute;
  left:-102px;
  top:47px;
  width:106px;
  height:8px;
}
#u902_seg2 {
  position:absolute;
  left:-102px;
  top:47px;
  width:8px;
  height:21px;
}
#u902_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u902_seg4 {
  position:absolute;
  left:-108px;
  top:55px;
  width:20px;
  height:20px;
}
#u903 {
  position:absolute;
  left:-82px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904 {
  position:absolute;
  left:730px;
  top:409px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u904_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u904_seg1 {
  position:absolute;
  left:-4px;
  top:47px;
  width:114px;
  height:8px;
}
#u904_seg2 {
  position:absolute;
  left:102px;
  top:47px;
  width:8px;
  height:21px;
}
#u904_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u904_seg4 {
  position:absolute;
  left:96px;
  top:55px;
  width:20px;
  height:20px;
}
#u905 {
  position:absolute;
  left:-14px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:712px;
  top:502px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u906_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u906_seg1 {
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:111px;
}
#u906_seg2 {
  position:absolute;
  left:-9px;
  top:-10px;
  width:20px;
  height:20px;
}
#u906_seg3 {
  position:absolute;
  left:13px;
  top:94px;
  width:20px;
  height:20px;
}
#u907 {
  position:absolute;
  left:-27px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:761px;
  top:503px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u908_seg0 {
  position:absolute;
  left:-30px;
  top:-4px;
  width:30px;
  height:8px;
}
#u908_seg1 {
  position:absolute;
  left:-30px;
  top:-4px;
  width:8px;
  height:110px;
}
#u908_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u908_seg3 {
  position:absolute;
  left:-36px;
  top:93px;
  width:20px;
  height:20px;
}
#u909 {
  position:absolute;
  left:-76px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  position:absolute;
  left:552px;
  top:502px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u910_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u910_seg1 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:10px;
}
#u910_seg2 {
  position:absolute;
  left:-39px;
  top:-2px;
  width:21px;
  height:8px;
}
#u910_seg3 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u910_seg4 {
  position:absolute;
  left:-46px;
  top:-8px;
  width:20px;
  height:20px;
}
#u911 {
  position:absolute;
  left:-70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:428px;
  top:520px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u912_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u912_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u912_seg2 {
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:20px;
}
#u913 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  position:absolute;
  left:911px;
  top:503px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u914_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u914_seg1 {
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:9px;
}
#u914_seg2 {
  position:absolute;
  left:25px;
  top:-3px;
  width:14px;
  height:8px;
}
#u914_seg3 {
  position:absolute;
  left:-9px;
  top:-10px;
  width:20px;
  height:20px;
}
#u914_seg4 {
  position:absolute;
  left:26px;
  top:-9px;
  width:20px;
  height:20px;
}
#u915 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:1012px;
  top:520px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u916_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u916_seg1 {
  position:absolute;
  left:-9px;
  top:56px;
  width:13px;
  height:8px;
}
#u916_seg2 {
  position:absolute;
  left:-9px;
  top:56px;
  width:8px;
  height:21px;
}
#u916_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u916_seg4 {
  position:absolute;
  left:-15px;
  top:64px;
  width:20px;
  height:20px;
}
#u917 {
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:928px;
  top:597px;
  width:158px;
  height:33px;
}
#u919 {
  position:absolute;
  left:2px;
  top:9px;
  width:154px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:342px;
  top:687px;
  width:166px;
  height:33px;
}
#u921 {
  position:absolute;
  left:2px;
  top:9px;
  width:162px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:928px;
  top:687px;
  width:158px;
  height:33px;
}
#u923 {
  position:absolute;
  left:2px;
  top:9px;
  width:154px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:582px;
  top:815px;
  width:157px;
  height:33px;
}
#u925 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:582px;
  top:748px;
  width:151px;
  height:33px;
}
#u927 {
  position:absolute;
  left:2px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u928 {
  position:absolute;
  left:428px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u928_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u928_seg1 {
  position:absolute;
  left:-7px;
  top:36px;
  width:11px;
  height:8px;
}
#u928_seg2 {
  position:absolute;
  left:-7px;
  top:36px;
  width:8px;
  height:21px;
}
#u928_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u928_seg4 {
  position:absolute;
  left:-13px;
  top:44px;
  width:20px;
  height:20px;
}
#u929 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:513px;
  top:614px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u930_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u930_seg1 {
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:159px;
}
#u930_seg2 {
  position:absolute;
  left:53px;
  top:147px;
  width:16px;
  height:8px;
}
#u930_seg3 {
  position:absolute;
  left:-9px;
  top:-10px;
  width:20px;
  height:20px;
}
#u930_seg4 {
  position:absolute;
  left:56px;
  top:141px;
  width:20px;
  height:20px;
}
#u931 {
  position:absolute;
  left:7px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932 {
  position:absolute;
  left:928px;
  top:614px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u932_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u932_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:73px;
}
#u932_seg2 {
  position:absolute;
  left:-157px;
  top:61px;
  width:151px;
  height:8px;
}
#u932_seg3 {
  position:absolute;
  left:-157px;
  top:61px;
  width:8px;
  height:94px;
}
#u932_seg4 {
  position:absolute;
  left:-195px;
  top:147px;
  width:46px;
  height:8px;
}
#u932_seg5 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u932_seg6 {
  position:absolute;
  left:-202px;
  top:141px;
  width:20px;
  height:20px;
}
#u933 {
  position:absolute;
  left:-158px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:1007px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u934_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u934_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u934_seg2 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u935 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:2px;
}
#u936 {
  position:absolute;
  left:431px;
  top:361px;
  width:659px;
  height:1px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u938 {
  position:absolute;
  left:179px;
  top:31px;
  width:215px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  line-height:22px;
}
#u940 {
  position:absolute;
  left:855px;
  top:98px;
  width:255px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  line-height:22px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u942 {
  position:absolute;
  left:403px;
  top:251px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u944 {
  position:absolute;
  left:408px;
  top:387px;
  width:136px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:941px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u946 {
  position:absolute;
  left:11px;
  top:635px;
  width:331px;
  height:941px;
  font-size:14px;
  line-height:22px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:371px;
  top:939px;
  width:196px;
  height:33px;
}
#u949 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:378px;
  top:995px;
  width:196px;
  height:33px;
}
#u951 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u952 {
  position:absolute;
  left:378px;
  top:1060px;
  width:196px;
  height:74px;
  font-size:12px;
}
#u953 {
  position:absolute;
  left:2px;
  top:24px;
  width:192px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:371px;
  top:815px;
  width:196px;
  height:33px;
}
#u955 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:371px;
  top:882px;
  width:196px;
  height:33px;
}
#u957 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:586px;
  top:877px;
  width:153px;
  height:33px;
}
#u959 {
  position:absolute;
  left:2px;
  top:9px;
  width:149px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:587px;
  top:944px;
  width:152px;
  height:33px;
}
#u961 {
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:588px;
  top:1012px;
  width:151px;
  height:33px;
}
#u963 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u964 {
  position:absolute;
  left:383px;
  top:1160px;
  width:196px;
  height:44px;
  font-size:12px;
}
#u965 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u966 {
  position:absolute;
  left:383px;
  top:1242px;
  width:196px;
  height:44px;
  font-size:12px;
}
#u967 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  word-wrap:break-word;
}
#u968 {
  position:absolute;
  left:658px;
  top:781px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u968_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u968_seg1 {
  position:absolute;
  left:-4px;
  top:15px;
  width:11px;
  height:8px;
}
#u968_seg2 {
  position:absolute;
  left:-1px;
  top:15px;
  width:8px;
  height:19px;
}
#u968_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u968_seg4 {
  position:absolute;
  left:-7px;
  top:21px;
  width:20px;
  height:20px;
}
#u969 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:661px;
  top:848px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u970_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u970_seg1 {
  position:absolute;
  left:-4px;
  top:10px;
  width:10px;
  height:8px;
}
#u970_seg2 {
  position:absolute;
  left:-2px;
  top:10px;
  width:8px;
  height:19px;
}
#u970_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u970_seg4 {
  position:absolute;
  left:-8px;
  top:16px;
  width:20px;
  height:20px;
}
#u971 {
  position:absolute;
  left:-48px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:663px;
  top:910px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u972_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u972_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u972_seg2 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u973 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:663px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u974_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u974_seg1 {
  position:absolute;
  left:-4px;
  top:19px;
  width:9px;
  height:8px;
}
#u974_seg2 {
  position:absolute;
  left:-3px;
  top:19px;
  width:8px;
  height:16px;
}
#u974_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u974_seg4 {
  position:absolute;
  left:-9px;
  top:22px;
  width:20px;
  height:20px;
}
#u975 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u976 {
  position:absolute;
  left:552px;
  top:1589px;
  width:169px;
  height:44px;
  font-size:12px;
}
#u977 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u978 {
  position:absolute;
  left:383px;
  top:1323px;
  width:196px;
  height:44px;
  font-size:12px;
}
#u979 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u980 {
  position:absolute;
  left:378px;
  top:1390px;
  width:196px;
  height:44px;
  font-size:12px;
}
#u981 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u982 {
  position:absolute;
  left:552px;
  top:1521px;
  width:169px;
  height:44px;
  font-size:12px;
}
#u983 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:469px;
  top:848px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u984_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u984_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u984_seg2 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u985 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:469px;
  top:915px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u986_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u986_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u986_seg2 {
  position:absolute;
  left:-10px;
  top:11px;
  width:20px;
  height:20px;
}
#u987 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:469px;
  top:972px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u988_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u988_seg1 {
  position:absolute;
  left:-4px;
  top:7px;
  width:15px;
  height:8px;
}
#u988_seg2 {
  position:absolute;
  left:3px;
  top:7px;
  width:8px;
  height:16px;
}
#u988_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u988_seg4 {
  position:absolute;
  left:-3px;
  top:10px;
  width:20px;
  height:20px;
}
#u989 {
  position:absolute;
  left:-46px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:476px;
  top:1028px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u990_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u990_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u990_seg2 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u991 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:476px;
  top:1134px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u992_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u992_seg1 {
  position:absolute;
  left:-4px;
  top:12px;
  width:13px;
  height:8px;
}
#u992_seg2 {
  position:absolute;
  left:1px;
  top:12px;
  width:8px;
  height:14px;
}
#u992_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u992_seg4 {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:20px;
}
#u993 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:481px;
  top:1204px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u994_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u994_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u994_seg2 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u995 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:481px;
  top:1286px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u996_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u996_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u996_seg2 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u997 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:481px;
  top:1367px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u998_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u998_seg1 {
  position:absolute;
  left:-9px;
  top:9px;
  width:13px;
  height:8px;
}
#u998_seg2 {
  position:absolute;
  left:-9px;
  top:9px;
  width:8px;
  height:14px;
}
#u998_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u998_seg4 {
  position:absolute;
  left:-15px;
  top:10px;
  width:20px;
  height:20px;
}
#u999 {
  position:absolute;
  left:-51px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1000 {
  position:absolute;
  left:759px;
  top:786px;
  width:390px;
  height:874px;
  font-size:14px;
  line-height:22px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1002 {
  position:absolute;
  left:342px;
  top:1465px;
  width:151px;
  height:85px;
  font-size:12px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:29px;
  width:147px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1004 {
  position:absolute;
  left:552px;
  top:1459px;
  width:169px;
  height:44px;
  font-size:12px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u1006 {
  position:absolute;
  left:476px;
  top:1434px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1006_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u1006_seg1 {
  position:absolute;
  left:-62px;
  top:12px;
  width:66px;
  height:8px;
}
#u1006_seg2 {
  position:absolute;
  left:-62px;
  top:12px;
  width:8px;
  height:19px;
}
#u1006_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1006_seg4 {
  position:absolute;
  left:-68px;
  top:18px;
  width:20px;
  height:20px;
}
#u1007 {
  position:absolute;
  left:-78px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008 {
  position:absolute;
  left:476px;
  top:1434px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1008_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:16px;
}
#u1008_seg1 {
  position:absolute;
  left:-4px;
  top:8px;
  width:169px;
  height:8px;
}
#u1008_seg2 {
  position:absolute;
  left:157px;
  top:8px;
  width:8px;
  height:17px;
}
#u1008_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1008_seg4 {
  position:absolute;
  left:151px;
  top:12px;
  width:20px;
  height:20px;
}
#u1009 {
  position:absolute;
  left:31px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:637px;
  top:1503px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1010_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u1010_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1010_seg2 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:637px;
  top:1565px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1012_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u1012_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1012_seg2 {
  position:absolute;
  left:-10px;
  top:11px;
  width:20px;
  height:20px;
}
#u1013 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1014 {
  position:absolute;
  left:164px;
  top:487px;
  width:130px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
