body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u12890 {
  position:absolute;
  left:224px;
  top:14px;
  width:1720px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u12891 {
  position:absolute;
  left:2px;
  top:5px;
  width:1716px;
  word-wrap:break-word;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12893 {
  position:absolute;
  left:321px;
  top:56px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u12894 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12895 {
  position:absolute;
  left:316px;
  top:99px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u12896 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12897 {
  position:absolute;
  left:296px;
  top:143px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u12898 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12899 {
  position:absolute;
  left:281px;
  top:190px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12901 {
  position:absolute;
  left:681px;
  top:184px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12902 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12903 {
  position:absolute;
  left:385px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12904 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12905 {
  position:absolute;
  left:385px;
  top:99px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12906 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12907 {
  position:absolute;
  left:385px;
  top:143px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12908 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12909 {
  position:absolute;
  left:385px;
  top:190px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12910 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12911 {
  position:absolute;
  left:785px;
  top:184px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12912 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12913 {
  position:absolute;
  left:310px;
  top:253px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u12914 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12916 {
  position:absolute;
  left:676px;
  top:56px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12917 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12918 {
  position:absolute;
  left:676px;
  top:100px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12919 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12920 {
  position:absolute;
  left:782px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12921 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12922 {
  position:absolute;
  left:782px;
  top:100px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12923 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12924 {
  position:absolute;
  left:659px;
  top:143px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u12925 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12926 {
  position:absolute;
  left:793px;
  top:143px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12927 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12929 {
  position:absolute;
  left:1171px;
  top:50px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u12930 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12931 {
  position:absolute;
  left:1157px;
  top:94px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12933 {
  position:absolute;
  left:1246px;
  top:50px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12934 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12935 {
  position:absolute;
  left:1246px;
  top:94px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12936 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12937 {
  position:absolute;
  left:1140px;
  top:140px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u12938 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12939 {
  position:absolute;
  left:1157px;
  top:184px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12940 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12941 {
  position:absolute;
  left:1246px;
  top:140px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12942 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12943 {
  position:absolute;
  left:1246px;
  top:184px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12946 {
  position:absolute;
  left:1613px;
  top:56px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12947 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12948 {
  position:absolute;
  left:1616px;
  top:101px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12950 {
  position:absolute;
  left:1705px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12951 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12952 {
  position:absolute;
  left:1705px;
  top:101px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u12953 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12954 {
  position:absolute;
  left:385px;
  top:245px;
  width:590px;
  height:62px;
  font-size:12px;
}
#u12955 {
  position:absolute;
  left:2px;
  top:23px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u12956 {
  position:absolute;
  left:224px;
  top:517px;
  width:1720px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u12957 {
  position:absolute;
  left:2px;
  top:5px;
  width:1716px;
  word-wrap:break-word;
}
#u12958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12959 {
  position:absolute;
  left:243px;
  top:581px;
  width:1696px;
  height:70px;
}
#u12960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u12960 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  font-size:12px;
}
#u12961 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u12962 {
  position:absolute;
  left:90px;
  top:0px;
  width:72px;
  height:37px;
  font-size:12px;
}
#u12963 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u12964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u12964 {
  position:absolute;
  left:162px;
  top:0px;
  width:92px;
  height:37px;
  font-size:12px;
}
#u12965 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u12966 {
  position:absolute;
  left:254px;
  top:0px;
  width:98px;
  height:37px;
  font-size:12px;
}
#u12967 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u12968 {
  position:absolute;
  left:352px;
  top:0px;
  width:112px;
  height:37px;
  font-size:12px;
  color:#FF0000;
}
#u12969 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u12970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u12970 {
  position:absolute;
  left:464px;
  top:0px;
  width:108px;
  height:37px;
  font-size:12px;
}
#u12971 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u12972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u12972 {
  position:absolute;
  left:572px;
  top:0px;
  width:97px;
  height:37px;
  font-size:12px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u12974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u12974 {
  position:absolute;
  left:669px;
  top:0px;
  width:114px;
  height:37px;
  font-size:12px;
}
#u12975 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u12976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u12976 {
  position:absolute;
  left:783px;
  top:0px;
  width:96px;
  height:37px;
  font-size:12px;
}
#u12977 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u12978 {
  position:absolute;
  left:879px;
  top:0px;
  width:96px;
  height:37px;
  font-size:12px;
}
#u12979 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u12980 {
  position:absolute;
  left:975px;
  top:0px;
  width:120px;
  height:37px;
  font-size:12px;
}
#u12981 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u12982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
}
#u12982 {
  position:absolute;
  left:1095px;
  top:0px;
  width:131px;
  height:37px;
  font-size:12px;
}
#u12983 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u12984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:37px;
}
#u12984 {
  position:absolute;
  left:1226px;
  top:0px;
  width:142px;
  height:37px;
  font-size:12px;
}
#u12985 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u12986 {
  position:absolute;
  left:1368px;
  top:0px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u12988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
}
#u12988 {
  position:absolute;
  left:1481px;
  top:0px;
  width:210px;
  height:37px;
  font-size:12px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u12990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u12990 {
  position:absolute;
  left:0px;
  top:37px;
  width:90px;
  height:28px;
  font-size:12px;
}
#u12991 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u12992 {
  position:absolute;
  left:90px;
  top:37px;
  width:72px;
  height:28px;
  font-size:12px;
}
#u12993 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u12994 {
  position:absolute;
  left:162px;
  top:37px;
  width:92px;
  height:28px;
  font-size:12px;
}
#u12995 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u12996 {
  position:absolute;
  left:254px;
  top:37px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u12997 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
}
#u12998 {
  position:absolute;
  left:352px;
  top:37px;
  width:112px;
  height:28px;
  font-size:12px;
}
#u12999 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u13000 {
  position:absolute;
  left:464px;
  top:37px;
  width:108px;
  height:28px;
  font-size:12px;
}
#u13001 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u13002 {
  position:absolute;
  left:572px;
  top:37px;
  width:97px;
  height:28px;
  font-size:12px;
}
#u13003 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13004 {
  position:absolute;
  left:669px;
  top:37px;
  width:114px;
  height:28px;
  font-size:12px;
}
#u13005 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u13006 {
  position:absolute;
  left:783px;
  top:37px;
  width:96px;
  height:28px;
  font-size:12px;
}
#u13007 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u13008 {
  position:absolute;
  left:879px;
  top:37px;
  width:96px;
  height:28px;
  font-size:12px;
}
#u13009 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u13010 {
  position:absolute;
  left:975px;
  top:37px;
  width:120px;
  height:28px;
  font-size:12px;
}
#u13011 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
}
#u13012 {
  position:absolute;
  left:1095px;
  top:37px;
  width:131px;
  height:28px;
  font-size:12px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u13014 {
  position:absolute;
  left:1226px;
  top:37px;
  width:142px;
  height:28px;
  font-size:12px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
}
#u13016 {
  position:absolute;
  left:1368px;
  top:37px;
  width:113px;
  height:28px;
  font-size:12px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
}
#u13018 {
  position:absolute;
  left:1481px;
  top:37px;
  width:210px;
  height:28px;
  font-size:12px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u13020 {
  position:absolute;
  left:252px;
  top:547px;
  width:99px;
  height:28px;
  font-size:12px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13022 {
  position:absolute;
  left:579px;
  top:547px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13023 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13024 {
  position:absolute;
  left:658px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u13026p000 {
  position:absolute;
  left:-101px;
  top:99px;
  width:203px;
  height:2px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u13026p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:223px;
  height:22px;
}
#u13026p001 {
  position:absolute;
  left:38px;
  top:4px;
  width:22px;
  height:22px;
}
#u13026p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13026p002 {
  position:absolute;
  left:-60px;
  top:173px;
  width:22px;
  height:22px;
}
#u13026p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13026.compound {
  width:0px;
  height:0px;
}
#u13026 {
  position:absolute;
  left:268px;
  top:549px;
  width:1px;
  height:200px;
}
#u13027 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u13028p000 {
  position:absolute;
  left:-100px;
  top:99px;
  width:202px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13028p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u13028p001 {
  position:absolute;
  left:87px;
  top:88px;
  width:22px;
  height:22px;
}
#u13028p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13028p002 {
  position:absolute;
  left:-108px;
  top:88px;
  width:22px;
  height:22px;
}
#u13028p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13028.compound {
  width:0px;
  height:0px;
}
#u13028 {
  position:absolute;
  left:712px;
  top:462px;
  width:1px;
  height:200px;
}
#u13029 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u13030 {
  position:absolute;
  left:827px;
  top:543px;
  width:214px;
  height:30px;
  color:#FF0000;
}
#u13031 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13032 {
  position:absolute;
  left:397px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u13034 {
  position:absolute;
  left:137px;
  top:746px;
  width:334px;
  height:30px;
  color:#FF0000;
}
#u13035 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u13036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13036 {
  position:absolute;
  left:315px;
  top:1052px;
  width:590px;
  height:25px;
  font-size:12px;
}
#u13037 {
  position:absolute;
  left:2px;
  top:4px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13038 {
  position:absolute;
  left:243px;
  top:934px;
  width:824px;
  height:518px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:251px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13040 {
  position:absolute;
  left:243px;
  top:934px;
  width:824px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u13041 {
  position:absolute;
  left:2px;
  top:5px;
  width:820px;
  word-wrap:break-word;
}
#u13042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13042 {
  position:absolute;
  left:687px;
  top:1074px;
  width:42px;
  height:14px;
  font-size:12px;
}
#u13043 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u13044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13044 {
  position:absolute;
  left:672px;
  top:1121px;
  width:54px;
  height:14px;
  font-size:12px;
}
#u13045 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13046 {
  position:absolute;
  left:677px;
  top:1171px;
  width:54px;
  height:14px;
  font-size:12px;
}
#u13047 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13048 {
  position:absolute;
  left:306px;
  top:1219px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u13049 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13050 {
  position:absolute;
  left:288px;
  top:1080px;
  width:54px;
  height:14px;
  font-size:12px;
}
#u13051 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13052 {
  position:absolute;
  left:282px;
  top:1126px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13053 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13054 {
  position:absolute;
  left:338px;
  top:1074px;
  width:300px;
  height:24px;
}
#u13055 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13056 {
  position:absolute;
  left:340px;
  top:1120px;
  width:300px;
  height:24px;
}
#u13057 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13058 {
  position:absolute;
  left:735px;
  top:1032px;
  width:300px;
  height:24px;
  color:#CCCCCC;
}
#u13059 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13060 {
  position:absolute;
  left:677px;
  top:1038px;
  width:54px;
  height:14px;
  font-size:12px;
}
#u13061 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13062 {
  position:absolute;
  left:735px;
  top:1074px;
  width:300px;
  height:24px;
}
#u13063 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13064 {
  position:absolute;
  left:735px;
  top:1119px;
  width:300px;
  height:24px;
}
#u13065 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13066 {
  position:absolute;
  left:735px;
  top:1169px;
  width:300px;
  height:24px;
}
#u13067 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13068 {
  position:absolute;
  left:340px;
  top:1167px;
  width:300px;
  height:24px;
}
#u13069 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13070 {
  position:absolute;
  left:282px;
  top:1173px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u13071 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13072 {
  position:absolute;
  left:519px;
  top:1340px;
  width:148px;
  height:39px;
}
#u13073 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u13074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13074 {
  position:absolute;
  left:340px;
  top:1219px;
  width:423px;
  height:45px;
}
#u13075 {
  position:absolute;
  left:2px;
  top:14px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13076_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:220px;
  height:21px;
}
#u13076p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u13076p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u13076p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13076p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13076p002 {
  position:absolute;
  left:186px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13076p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13076.compound {
  width:0px;
  height:0px;
}
#u13076 {
  position:absolute;
  left:628px;
  top:1359px;
  width:200px;
  height:1px;
}
#u13077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13078 {
  position:absolute;
  left:811px;
  top:1383px;
  width:315px;
  height:35px;
  color:#FF0000;
}
#u13079 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u13080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u13080 {
  position:absolute;
  left:49px;
  top:1156px;
  width:173px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u13081 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u13082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13082 {
  position:absolute;
  left:672px;
  top:807px;
  width:148px;
  height:39px;
}
#u13083 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u13084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13084 {
  position:absolute;
  left:468px;
  top:380px;
  width:6px;
  height:16px;
}
#u13085 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  visibility:hidden;
  white-space:nowrap;
}
#u13086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13086 {
  position:absolute;
  left:272px;
  top:1031px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u13087 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13088 {
  position:absolute;
  left:338px;
  top:1028px;
  width:300px;
  height:24px;
  color:#CCCCCC;
}
#u13089 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13090_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:1358px;
  height:21px;
}
#u13090p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1340px;
  height:1px;
}
#u13090p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:1360px;
  height:21px;
}
#u13090p001 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13090p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13090p002 {
  position:absolute;
  left:1325px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13090p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13090.compound {
  width:0px;
  height:0px;
}
#u13090 {
  position:absolute;
  left:596px;
  top:665px;
  width:1338px;
  height:1px;
}
#u13091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13092 {
  position:absolute;
  left:1154px;
  top:676px;
  width:87px;
  height:18px;
  color:#FF0000;
}
#u13093 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13094 {
  position:absolute;
  left:345px;
  top:621px;
  width:52px;
  height:19px;
}
#u13095 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u13096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13096 {
  position:absolute;
  left:428px;
  top:621px;
  width:52px;
  height:19px;
}
#u13097 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u13098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13098 {
  position:absolute;
  left:526px;
  top:621px;
  width:52px;
  height:19px;
}
#u13099 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u13100_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:363px;
  height:21px;
}
#u13100p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:345px;
  height:1px;
}
#u13100p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:365px;
  height:21px;
}
#u13100p001 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13100p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13100p002 {
  position:absolute;
  left:330px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13100p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13100.compound {
  width:0px;
  height:0px;
}
#u13100 {
  position:absolute;
  left:243px;
  top:665px;
  width:343px;
  height:1px;
}
#u13101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13102 {
  position:absolute;
  left:404px;
  top:676px;
  width:87px;
  height:18px;
  color:#FF0000;
}
#u13103 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
