body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1614px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5612 {
  position:absolute;
  left:85px;
  top:76px;
  width:1534px;
  height:148px;
}
#u5613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u5613 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  font-size:12px;
}
#u5614 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u5615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u5615 {
  position:absolute;
  left:54px;
  top:0px;
  width:152px;
  height:30px;
  font-size:12px;
}
#u5616 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u5617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u5617 {
  position:absolute;
  left:206px;
  top:0px;
  width:111px;
  height:30px;
  font-size:12px;
}
#u5618 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u5619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u5619 {
  position:absolute;
  left:317px;
  top:0px;
  width:142px;
  height:30px;
  font-size:12px;
}
#u5620 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u5621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5621 {
  position:absolute;
  left:459px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5622 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5623 {
  position:absolute;
  left:556px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5625 {
  position:absolute;
  left:653px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5627 {
  position:absolute;
  left:750px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5628 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5629 {
  position:absolute;
  left:847px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5631 {
  position:absolute;
  left:947px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5633 {
  position:absolute;
  left:1044px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5634 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5635 {
  position:absolute;
  left:1141px;
  top:0px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5637 {
  position:absolute;
  left:1241px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5638 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5639 {
  position:absolute;
  left:1338px;
  top:0px;
  width:97px;
  height:30px;
  font-size:12px;
}
#u5640 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u5641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5641 {
  position:absolute;
  left:1435px;
  top:0px;
  width:94px;
  height:30px;
  font-size:12px;
}
#u5642 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:30px;
  width:54px;
  height:54px;
  font-size:12px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:54px;
}
#u5645 {
  position:absolute;
  left:54px;
  top:30px;
  width:152px;
  height:54px;
  font-size:12px;
}
#u5646 {
  position:absolute;
  left:2px;
  top:19px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:54px;
}
#u5647 {
  position:absolute;
  left:206px;
  top:30px;
  width:111px;
  height:54px;
  font-size:12px;
}
#u5648 {
  position:absolute;
  left:2px;
  top:19px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:54px;
}
#u5649 {
  position:absolute;
  left:317px;
  top:30px;
  width:142px;
  height:54px;
  font-size:12px;
}
#u5650 {
  position:absolute;
  left:2px;
  top:19px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5651 {
  position:absolute;
  left:459px;
  top:30px;
  width:97px;
  height:54px;
  font-size:12px;
}
#u5652 {
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u5653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5653 {
  position:absolute;
  left:556px;
  top:30px;
  width:97px;
  height:54px;
  font-size:12px;
}
#u5654 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5655 {
  position:absolute;
  left:653px;
  top:30px;
  width:97px;
  height:54px;
  font-size:12px;
}
#u5656 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5657 {
  position:absolute;
  left:750px;
  top:30px;
  width:97px;
  height:54px;
}
#u5658 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u5659 {
  position:absolute;
  left:847px;
  top:30px;
  width:100px;
  height:54px;
}
#u5660 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5661 {
  position:absolute;
  left:947px;
  top:30px;
  width:97px;
  height:54px;
}
#u5662 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5663 {
  position:absolute;
  left:1044px;
  top:30px;
  width:97px;
  height:54px;
}
#u5664 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u5665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u5665 {
  position:absolute;
  left:1141px;
  top:30px;
  width:100px;
  height:54px;
  font-size:12px;
}
#u5666 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5667 {
  position:absolute;
  left:1241px;
  top:30px;
  width:97px;
  height:54px;
  font-size:12px;
}
#u5668 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u5669 {
  position:absolute;
  left:1338px;
  top:30px;
  width:97px;
  height:54px;
  font-size:12px;
}
#u5670 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:54px;
}
#u5671 {
  position:absolute;
  left:1435px;
  top:30px;
  width:94px;
  height:54px;
  font-size:12px;
}
#u5672 {
  position:absolute;
  left:2px;
  top:19px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:59px;
}
#u5673 {
  position:absolute;
  left:0px;
  top:84px;
  width:54px;
  height:59px;
  font-size:12px;
}
#u5674 {
  position:absolute;
  left:2px;
  top:22px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:59px;
}
#u5675 {
  position:absolute;
  left:54px;
  top:84px;
  width:152px;
  height:59px;
  font-size:12px;
}
#u5676 {
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:59px;
}
#u5677 {
  position:absolute;
  left:206px;
  top:84px;
  width:111px;
  height:59px;
  font-size:12px;
}
#u5678 {
  position:absolute;
  left:2px;
  top:22px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:59px;
}
#u5679 {
  position:absolute;
  left:317px;
  top:84px;
  width:142px;
  height:59px;
  font-size:12px;
}
#u5680 {
  position:absolute;
  left:2px;
  top:22px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5681 {
  position:absolute;
  left:459px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5683 {
  position:absolute;
  left:556px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5684 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5685 {
  position:absolute;
  left:653px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5686 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5687 {
  position:absolute;
  left:750px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5688 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u5689 {
  position:absolute;
  left:847px;
  top:84px;
  width:100px;
  height:59px;
  font-size:12px;
}
#u5690 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5691 {
  position:absolute;
  left:947px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5692 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5693 {
  position:absolute;
  left:1044px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5694 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u5695 {
  position:absolute;
  left:1141px;
  top:84px;
  width:100px;
  height:59px;
  font-size:12px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5697 {
  position:absolute;
  left:1241px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5698 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u5699 {
  position:absolute;
  left:1338px;
  top:84px;
  width:97px;
  height:59px;
  font-size:12px;
}
#u5700 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:59px;
}
#u5701 {
  position:absolute;
  left:1435px;
  top:84px;
  width:94px;
  height:59px;
  font-size:12px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:22px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5703 {
  position:absolute;
  left:372px;
  top:124px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5705_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u5705p000 {
  position:absolute;
  left:-100px;
  top:99px;
  width:201px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5705p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:221px;
  height:22px;
}
#u5705p001 {
  position:absolute;
  left:-11px;
  top:-9px;
  width:22px;
  height:22px;
}
#u5705p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u5705p002 {
  position:absolute;
  left:-11px;
  top:186px;
  width:22px;
  height:22px;
}
#u5705p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u5705.compound {
  width:0px;
  height:0px;
}
#u5705 {
  position:absolute;
  left:391px;
  top:146px;
  width:1px;
  height:200px;
}
#u5706 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5707 {
  position:absolute;
  left:372px;
  top:362px;
  width:287px;
  height:123px;
  color:#FF0000;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
