body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:555px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:0px;
  top:59px;
  width:120px;
  height:555px;
}
#u902 {
  position:absolute;
  left:2px;
  top:270px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:43px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:0px;
  top:70px;
  width:115px;
  height:43px;
}
#u904 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
