body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:30px;
}
#u11702 {
  position:absolute;
  left:87px;
  top:800px;
  width:482px;
  height:30px;
}
#u11703 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u11704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u11704 {
  position:absolute;
  left:87px;
  top:851px;
  width:300px;
  height:30px;
}
#u11705 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u11706 {
  position:absolute;
  left:87px;
  top:903px;
  width:300px;
  height:30px;
}
#u11707 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u11708 {
  position:absolute;
  left:102px;
  top:960px;
  width:300px;
  height:30px;
}
#u11709 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u11710 {
  position:absolute;
  left:87px;
  top:1014px;
  width:300px;
  height:30px;
}
#u11711 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:76px;
}
#u11712 {
  position:absolute;
  left:94px;
  top:1092px;
  width:475px;
  height:76px;
}
#u11713 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u11714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11714 {
  position:absolute;
  left:145px;
  top:221px;
  width:153px;
  height:31px;
}
#u11715 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u11716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11716 {
  position:absolute;
  left:194px;
  top:324px;
  width:31px;
  height:127px;
}
#u11717 {
  position:absolute;
  left:2px;
  top:40px;
  width:27px;
  word-wrap:break-word;
}
#u11718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11718 {
  position:absolute;
  left:87px;
  top:324px;
  width:33px;
  height:122px;
}
#u11719 {
  position:absolute;
  left:2px;
  top:38px;
  width:29px;
  word-wrap:break-word;
}
#u11720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11720 {
  position:absolute;
  left:296px;
  top:324px;
  width:31px;
  height:127px;
}
#u11721 {
  position:absolute;
  left:2px;
  top:40px;
  width:27px;
  word-wrap:break-word;
}
