body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u10100 {
  position:absolute;
  left:258px;
  top:123px;
  width:102px;
  height:21px;
  font-size:10px;
}
#u10101 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u10102 {
  position:absolute;
  left:468px;
  top:262px;
  width:102px;
  height:21px;
  font-size:10px;
}
#u10103 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u10104 {
  position:absolute;
  left:393px;
  top:123px;
  width:102px;
  height:21px;
  font-size:10px;
}
#u10105 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10106 {
  position:absolute;
  left:369px;
  top:334px;
  width:122px;
  height:21px;
  font-size:11px;
}
#u10107 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u10108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u10108 {
  position:absolute;
  left:531px;
  top:123px;
  width:102px;
  height:21px;
  font-size:10px;
}
#u10109 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u10110 {
  position:absolute;
  left:531px;
  top:165px;
  width:102px;
  height:21px;
  font-size:10px;
}
#u10111 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10112 {
  position:absolute;
  left:369px;
  top:389px;
  width:128px;
  height:21px;
  font-size:11px;
}
#u10113 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u10114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10114 {
  position:absolute;
  left:379px;
  top:449px;
  width:102px;
  height:21px;
  font-size:11px;
}
#u10115 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10116 {
  position:absolute;
  left:379px;
  top:497px;
  width:102px;
  height:21px;
  font-size:11px;
}
#u10117 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10118 {
  position:absolute;
  left:309px;
  top:144px;
  width:0px;
  height:0px;
}
#u10118_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:260px;
}
#u10118_seg1 {
  position:absolute;
  left:-4px;
  top:252px;
  width:64px;
  height:8px;
}
#u10118_seg2 {
  position:absolute;
  left:45px;
  top:246px;
  width:20px;
  height:20px;
}
#u10119 {
  position:absolute;
  left:-50px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10120 {
  position:absolute;
  left:444px;
  top:144px;
  width:0px;
  height:0px;
}
#u10120_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:110px;
}
#u10120_seg1 {
  position:absolute;
  left:-4px;
  top:102px;
  width:83px;
  height:8px;
}
#u10120_seg2 {
  position:absolute;
  left:71px;
  top:102px;
  width:8px;
  height:16px;
}
#u10120_seg3 {
  position:absolute;
  left:65px;
  top:105px;
  width:20px;
  height:20px;
}
#u10121 {
  position:absolute;
  left:-50px;
  top:88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10122 {
  position:absolute;
  left:582px;
  top:144px;
  width:0px;
  height:0px;
}
#u10122_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u10123 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10124 {
  position:absolute;
  left:531px;
  top:134px;
  width:0px;
  height:0px;
}
#u10124_seg0 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:16px;
  height:8px;
}
#u10124_seg1 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:8px;
  height:132px;
}
#u10124_seg2 {
  position:absolute;
  left:-22px;
  top:115px;
  width:20px;
  height:20px;
}
#u10125 {
  position:absolute;
  left:-62px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10126 {
  position:absolute;
  left:519px;
  top:283px;
  width:0px;
  height:0px;
}
#u10126_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u10126_seg1 {
  position:absolute;
  left:-22px;
  top:113px;
  width:26px;
  height:8px;
}
#u10126_seg2 {
  position:absolute;
  left:-27px;
  top:107px;
  width:20px;
  height:20px;
}
#u10127 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10128 {
  position:absolute;
  left:430px;
  top:355px;
  width:0px;
  height:0px;
}
#u10128_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u10128_seg1 {
  position:absolute;
  left:-4px;
  top:13px;
  width:11px;
  height:8px;
}
#u10128_seg2 {
  position:absolute;
  left:-1px;
  top:13px;
  width:8px;
  height:21px;
}
#u10128_seg3 {
  position:absolute;
  left:-7px;
  top:19px;
  width:20px;
  height:20px;
}
#u10129 {
  position:absolute;
  left:-48px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10130 {
  position:absolute;
  left:433px;
  top:410px;
  width:0px;
  height:0px;
}
#u10130_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u10130_seg1 {
  position:absolute;
  left:-7px;
  top:16px;
  width:11px;
  height:8px;
}
#u10130_seg2 {
  position:absolute;
  left:-7px;
  top:16px;
  width:8px;
  height:23px;
}
#u10130_seg3 {
  position:absolute;
  left:-13px;
  top:24px;
  width:20px;
  height:20px;
}
#u10131 {
  position:absolute;
  left:-51px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10132 {
  position:absolute;
  left:430px;
  top:470px;
  width:0px;
  height:0px;
}
#u10132_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u10132_seg1 {
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u10133 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10134 {
  position:absolute;
  left:658px;
  top:321px;
  width:194px;
  height:34px;
  font-size:11px;
}
#u10135 {
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u10136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10136 {
  position:absolute;
  left:668px;
  top:389px;
  width:189px;
  height:21px;
  font-size:11px;
}
#u10137 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  word-wrap:break-word;
}
#u10138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10138 {
  position:absolute;
  left:711px;
  top:449px;
  width:102px;
  height:21px;
  font-size:11px;
}
#u10139 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10140 {
  position:absolute;
  left:711px;
  top:507px;
  width:102px;
  height:21px;
  font-size:11px;
}
#u10141 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10142 {
  position:absolute;
  left:819px;
  top:582px;
  width:129px;
  height:22px;
  font-size:11px;
}
#u10143 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u10144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10144 {
  position:absolute;
  left:580px;
  top:602px;
  width:137px;
  height:30px;
  font-size:11px;
}
#u10145 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u10146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10146 {
  position:absolute;
  left:552px;
  top:668px;
  width:43px;
  height:134px;
  font-size:11px;
}
#u10147 {
  position:absolute;
  left:2px;
  top:28px;
  width:39px;
  word-wrap:break-word;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u10148 {
  position:absolute;
  left:658px;
  top:262px;
  width:152px;
  height:30px;
  font-size:13px;
  color:#FF0000;
}
#u10149 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10150 {
  position:absolute;
  left:379px;
  top:538px;
  width:102px;
  height:21px;
  font-size:11px;
}
#u10151 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u10152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u10152 {
  position:absolute;
  left:369px;
  top:292px;
  width:88px;
  height:30px;
  font-size:13px;
  color:#FF0000;
}
#u10153 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u10154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u10154 {
  position:absolute;
  left:841px;
  top:526px;
  width:91px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u10155 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10156 {
  position:absolute;
  left:430px;
  top:518px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10156_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u10156_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10156_seg2 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:20px;
}
#u10157 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10158 {
  position:absolute;
  left:755px;
  top:355px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10158_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u10158_seg1 {
  position:absolute;
  left:-7px;
  top:26px;
  width:11px;
  height:8px;
}
#u10158_seg2 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10158_seg3 {
  position:absolute;
  left:-14px;
  top:20px;
  width:20px;
  height:20px;
}
#u10159 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10160 {
  position:absolute;
  left:763px;
  top:410px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10160_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u10160_seg1 {
  position:absolute;
  left:-5px;
  top:16px;
  width:9px;
  height:8px;
}
#u10160_seg2 {
  position:absolute;
  left:-5px;
  top:16px;
  width:8px;
  height:23px;
}
#u10160_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10160_seg4 {
  position:absolute;
  left:-11px;
  top:26px;
  width:20px;
  height:20px;
}
#u10161 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10162 {
  position:absolute;
  left:762px;
  top:470px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10162_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u10162_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10162_seg2 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u10163 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10164 {
  position:absolute;
  left:762px;
  top:528px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10164_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u10164_seg1 {
  position:absolute;
  left:-4px;
  top:38px;
  width:130px;
  height:8px;
}
#u10164_seg2 {
  position:absolute;
  left:118px;
  top:38px;
  width:8px;
  height:16px;
}
#u10164_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10164_seg4 {
  position:absolute;
  left:112px;
  top:41px;
  width:20px;
  height:20px;
}
#u10165 {
  position:absolute;
  left:-4px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10166 {
  position:absolute;
  left:703px;
  top:668px;
  width:40px;
  height:129px;
  font-size:11px;
}
#u10167 {
  position:absolute;
  left:2px;
  top:32px;
  width:36px;
  word-wrap:break-word;
}
#u10168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10168 {
  position:absolute;
  left:974px;
  top:582px;
  width:129px;
  height:22px;
  font-size:11px;
}
#u10169 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u10170 {
  position:absolute;
  left:649px;
  top:632px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10170_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u10170_seg1 {
  position:absolute;
  left:-79px;
  top:14px;
  width:83px;
  height:8px;
}
#u10170_seg2 {
  position:absolute;
  left:-79px;
  top:14px;
  width:8px;
  height:22px;
}
#u10170_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10170_seg4 {
  position:absolute;
  left:-85px;
  top:23px;
  width:20px;
  height:20px;
}
#u10171 {
  position:absolute;
  left:-88px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10172 {
  position:absolute;
  left:649px;
  top:632px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10172_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u10172_seg1 {
  position:absolute;
  left:-4px;
  top:14px;
  width:82px;
  height:8px;
}
#u10172_seg2 {
  position:absolute;
  left:70px;
  top:14px;
  width:8px;
  height:22px;
}
#u10172_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10172_seg4 {
  position:absolute;
  left:64px;
  top:23px;
  width:20px;
  height:20px;
}
#u10173 {
  position:absolute;
  left:-13px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10174 {
  position:absolute;
  left:762px;
  top:528px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10174_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u10174_seg1 {
  position:absolute;
  left:-4px;
  top:38px;
  width:285px;
  height:8px;
}
#u10174_seg2 {
  position:absolute;
  left:273px;
  top:38px;
  width:8px;
  height:16px;
}
#u10174_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u10174_seg4 {
  position:absolute;
  left:267px;
  top:41px;
  width:20px;
  height:20px;
}
#u10175 {
  position:absolute;
  left:74px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10176 {
  position:absolute;
  left:668px;
  top:400px;
  width:0px;
  height:0px;
  color:#019DDA;
}
#u10176_seg0 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u10176_seg1 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:206px;
}
#u10176_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10176_seg3 {
  position:absolute;
  left:-29px;
  top:189px;
  width:20px;
  height:20px;
}
#u10177 {
  position:absolute;
  left:-69px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10178 {
  position:absolute;
  left:1208px;
  top:321px;
  width:194px;
  height:34px;
  font-size:11px;
}
#u10179 {
  position:absolute;
  left:2px;
  top:4px;
  width:190px;
  word-wrap:break-word;
}
#u10180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10180 {
  position:absolute;
  left:1263px;
  top:389px;
  width:102px;
  height:21px;
  font-size:11px;
}
#u10181 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
