body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:377px;
}
#u5710 {
  position:absolute;
  left:250px;
  top:125px;
  width:466px;
  height:377px;
  font-size:12px;
}
#u5711 {
  position:absolute;
  left:2px;
  top:180px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:41px;
}
#u5712 {
  position:absolute;
  left:252px;
  top:125px;
  width:464px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
}
#u5713 {
  position:absolute;
  left:2px;
  top:14px;
  width:460px;
  word-wrap:break-word;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5714 {
  position:absolute;
  left:272px;
  top:239px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5716 {
  position:absolute;
  left:362px;
  top:239px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u5717 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5716_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5718 {
  position:absolute;
  left:494px;
  top:239px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u5719 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5718_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5720 {
  position:absolute;
  left:341px;
  top:281px;
  width:300px;
  height:81px;
  font-size:12px;
}
#u5721 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5722 {
  position:absolute;
  left:272px;
  top:281px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u5723 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5724 {
  position:absolute;
  left:425px;
  top:390px;
  width:87px;
  height:26px;
  font-size:12px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:377px;
}
#u5727 {
  position:absolute;
  left:252px;
  top:546px;
  width:466px;
  height:377px;
  font-size:12px;
}
#u5728 {
  position:absolute;
  left:2px;
  top:180px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:41px;
}
#u5729 {
  position:absolute;
  left:254px;
  top:546px;
  width:464px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
}
#u5730 {
  position:absolute;
  left:2px;
  top:14px;
  width:460px;
  word-wrap:break-word;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5731 {
  position:absolute;
  left:274px;
  top:660px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5733 {
  position:absolute;
  left:364px;
  top:660px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u5734 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5733_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5735 {
  position:absolute;
  left:496px;
  top:660px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u5736 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5735_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5737 {
  position:absolute;
  left:343px;
  top:702px;
  width:300px;
  height:81px;
  font-size:12px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5739 {
  position:absolute;
  left:274px;
  top:702px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u5740 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5741 {
  position:absolute;
  left:427px;
  top:811px;
  width:87px;
  height:26px;
  font-size:12px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u5743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5743 {
  position:absolute;
  left:556px;
  top:811px;
  width:87px;
  height:26px;
  font-size:12px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5745 {
  position:absolute;
  left:554px;
  top:390px;
  width:87px;
  height:26px;
  font-size:12px;
}
#u5746 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
