body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:21px;
}
#u14974 {
  position:absolute;
  left:229px;
  top:9px;
  width:960px;
  height:21px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14975 {
  position:absolute;
  left:2px;
  top:4px;
  width:956px;
  word-wrap:break-word;
}
#u14976 {
  position:absolute;
  left:239px;
  top:363px;
  width:962px;
  height:109px;
}
#u14977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:44px;
}
#u14977 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:44px;
  font-size:12px;
}
#u14978 {
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u14979 {
  position:absolute;
  left:61px;
  top:0px;
  width:47px;
  height:44px;
  font-size:12px;
}
#u14980 {
  position:absolute;
  left:2px;
  top:15px;
  width:43px;
  word-wrap:break-word;
}
#u14981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:44px;
}
#u14981 {
  position:absolute;
  left:108px;
  top:0px;
  width:186px;
  height:44px;
  font-size:12px;
}
#u14982 {
  position:absolute;
  left:2px;
  top:15px;
  width:182px;
  word-wrap:break-word;
}
#u14983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u14983 {
  position:absolute;
  left:294px;
  top:0px;
  width:152px;
  height:44px;
  font-size:12px;
}
#u14984 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u14985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:44px;
}
#u14985 {
  position:absolute;
  left:446px;
  top:0px;
  width:292px;
  height:44px;
  font-size:12px;
}
#u14986 {
  position:absolute;
  left:2px;
  top:15px;
  width:288px;
  word-wrap:break-word;
}
#u14987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:44px;
}
#u14987 {
  position:absolute;
  left:738px;
  top:0px;
  width:99px;
  height:44px;
  font-size:12px;
}
#u14988 {
  position:absolute;
  left:2px;
  top:15px;
  width:95px;
  word-wrap:break-word;
}
#u14989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u14989 {
  position:absolute;
  left:837px;
  top:0px;
  width:120px;
  height:44px;
  font-size:12px;
}
#u14990 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u14991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u14991 {
  position:absolute;
  left:0px;
  top:44px;
  width:61px;
  height:30px;
  font-size:12px;
}
#u14992 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u14993 {
  position:absolute;
  left:61px;
  top:44px;
  width:47px;
  height:30px;
  font-size:12px;
}
#u14994 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u14995 {
  position:absolute;
  left:108px;
  top:44px;
  width:186px;
  height:30px;
  font-size:12px;
}
#u14996 {
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u14997 {
  position:absolute;
  left:294px;
  top:44px;
  width:152px;
  height:30px;
  font-size:12px;
}
#u14998 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:30px;
}
#u14999 {
  position:absolute;
  left:446px;
  top:44px;
  width:292px;
  height:30px;
  font-size:12px;
}
#u15000 {
  position:absolute;
  left:2px;
  top:7px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15001 {
  position:absolute;
  left:738px;
  top:44px;
  width:99px;
  height:30px;
  font-size:12px;
}
#u15002 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u15003 {
  position:absolute;
  left:837px;
  top:44px;
  width:120px;
  height:30px;
  font-size:12px;
}
#u15004 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u15005 {
  position:absolute;
  left:0px;
  top:74px;
  width:61px;
  height:30px;
  font-size:12px;
}
#u15006 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u15007 {
  position:absolute;
  left:61px;
  top:74px;
  width:47px;
  height:30px;
  font-size:12px;
}
#u15008 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u15009 {
  position:absolute;
  left:108px;
  top:74px;
  width:186px;
  height:30px;
  font-size:12px;
}
#u15010 {
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u15011 {
  position:absolute;
  left:294px;
  top:74px;
  width:152px;
  height:30px;
  font-size:12px;
}
#u15012 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:30px;
}
#u15013 {
  position:absolute;
  left:446px;
  top:74px;
  width:292px;
  height:30px;
  font-size:12px;
}
#u15014 {
  position:absolute;
  left:2px;
  top:7px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15015 {
  position:absolute;
  left:738px;
  top:74px;
  width:99px;
  height:30px;
  font-size:12px;
}
#u15016 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u15017 {
  position:absolute;
  left:837px;
  top:74px;
  width:120px;
  height:30px;
  font-size:12px;
}
#u15018 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15019 {
  position:absolute;
  left:255px;
  top:44px;
  width:58px;
  height:13px;
  font-size:12px;
}
#u15020 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u15021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15021 {
  position:absolute;
  left:255px;
  top:100px;
  width:58px;
  height:13px;
  font-size:12px;
}
#u15022 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u15023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15023 {
  position:absolute;
  left:255px;
  top:161px;
  width:58px;
  height:13px;
  font-size:12px;
}
#u15024 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u15025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15025 {
  position:absolute;
  left:549px;
  top:161px;
  width:29px;
  height:13px;
  font-size:12px;
}
#u15026 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u15027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#63889D;
}
#u15027 {
  position:absolute;
  left:489px;
  top:268px;
  width:89px;
  height:21px;
  font-size:12px;
  color:#63889D;
}
#u15028 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u15029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#63889D;
}
#u15029 {
  position:absolute;
  left:627px;
  top:268px;
  width:89px;
  height:21px;
  font-size:12px;
  color:#63889D;
}
#u15030 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u15031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:21px;
}
#u15031 {
  position:absolute;
  left:239px;
  top:336px;
  width:960px;
  height:21px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u15032 {
  position:absolute;
  left:2px;
  top:4px;
  width:956px;
  word-wrap:break-word;
}
#u15033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#63889D;
}
#u15033 {
  position:absolute;
  left:1090px;
  top:415px;
  width:29px;
  height:13px;
  font-size:12px;
  text-decoration:underline;
  color:#63889D;
}
#u15034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u15035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#63889D;
}
#u15035 {
  position:absolute;
  left:1121px;
  top:415px;
  width:29px;
  height:13px;
  font-size:12px;
  text-decoration:underline;
  color:#63889D;
}
#u15036 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u15037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#63889D;
}
#u15037 {
  position:absolute;
  left:1153px;
  top:415px;
  width:29px;
  height:13px;
  font-size:12px;
  text-decoration:underline;
  color:#63889D;
}
#u15038 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u15039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15039 {
  position:absolute;
  left:248px;
  top:415px;
  width:20px;
  height:20px;
  font-size:12px;
}
#u15040 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u15041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15041 {
  position:absolute;
  left:275px;
  top:415px;
  width:20px;
  height:20px;
  font-size:12px;
}
#u15042 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u15043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15043 {
  position:absolute;
  left:262px;
  top:565px;
  width:549px;
  height:443px;
  font-size:12px;
}
#u15044 {
  position:absolute;
  left:2px;
  top:214px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#63889D;
}
#u15045 {
  position:absolute;
  left:498px;
  top:596px;
  width:80px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#63889D;
}
#u15046 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15047 {
  position:absolute;
  left:322px;
  top:708px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u15048 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15049 {
  position:absolute;
  left:315px;
  top:728px;
  width:385px;
  height:24px;
  font-size:12px;
}
#u15050 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15051 {
  position:absolute;
  left:322px;
  top:765px;
  width:29px;
  height:13px;
  font-size:12px;
}
#u15052 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u15053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15053 {
  position:absolute;
  left:315px;
  top:784px;
  width:385px;
  height:24px;
  font-size:12px;
}
#u15054 {
  position:absolute;
  left:2px;
  top:4px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15055 {
  position:absolute;
  left:322px;
  top:819px;
  width:58px;
  height:13px;
  font-size:12px;
}
#u15056 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u15057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15057 {
  position:absolute;
  left:315px;
  top:839px;
  width:174px;
  height:24px;
  font-size:12px;
}
#u15058 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15059 {
  position:absolute;
  left:527px;
  top:839px;
  width:173px;
  height:24px;
  font-size:12px;
}
#u15060 {
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15061 {
  position:absolute;
  left:527px;
  top:819px;
  width:29px;
  height:13px;
  font-size:12px;
}
#u15062 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u15063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#63889D;
}
#u15063 {
  position:absolute;
  left:368px;
  top:935px;
  width:130px;
  height:25px;
  font-size:12px;
  color:#63889D;
}
#u15064 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u15065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#63889D;
}
#u15065 {
  position:absolute;
  left:527px;
  top:935px;
  width:130px;
  height:25px;
  font-size:12px;
  color:#63889D;
}
#u15066 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u15067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u15067 {
  position:absolute;
  left:771px;
  top:586px;
  width:23px;
  height:23px;
  font-size:12px;
}
#u15068 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u15069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15069 {
  position:absolute;
  left:322px;
  top:635px;
  width:66px;
  height:25px;
  font-size:12px;
}
#u15070 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u15071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15071 {
  position:absolute;
  left:398px;
  top:635px;
  width:66px;
  height:25px;
  font-size:12px;
}
#u15072 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u15073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15073 {
  position:absolute;
  left:488px;
  top:636px;
  width:66px;
  height:25px;
  font-size:12px;
}
#u15074 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u15075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u15075 {
  position:absolute;
  left:275px;
  top:67px;
  width:128px;
  height:13px;
  font-size:12px;
  color:#999999;
}
#u15076 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u15077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u15077 {
  position:absolute;
  left:278px;
  top:123px;
  width:253px;
  height:13px;
  font-size:12px;
  color:#999999;
}
#u15078 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u15079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u15079 {
  position:absolute;
  left:588px;
  top:184px;
  width:9px;
  height:17px;
  color:#999999;
}
#u15080 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u15081 {
  position:absolute;
  left:275px;
  top:192px;
  width:100px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u15082 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15083 {
  position:absolute;
  left:335px;
  top:192px;
  width:100px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u15084 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15083_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
