body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u796 {
  position:absolute;
  left:201px;
  top:-25px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  position:absolute;
  left:450px;
  top:38px;
  width:196px;
  height:33px;
}
#u799 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  position:absolute;
  left:450px;
  top:157px;
  width:196px;
  height:30px;
}
#u801 {
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:450px;
  top:423px;
  width:196px;
  height:30px;
}
#u803 {
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  position:absolute;
  left:700px;
  top:519px;
  width:125px;
  height:30px;
}
#u805 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:470px;
  top:519px;
  width:136px;
  height:30px;
}
#u807 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:211px;
  top:519px;
  width:136px;
  height:30px;
}
#u809 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:211px;
  top:622px;
  width:136px;
  height:30px;
}
#u811 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  line-height:20px;
}
#u812 {
  position:absolute;
  left:702px;
  top:11px;
  width:268px;
  height:200px;
  font-size:13px;
  line-height:20px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u814 {
  position:absolute;
  left:548px;
  top:71px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u814_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u814_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u814_seg2 {
  position:absolute;
  left:-10px;
  top:73px;
  width:20px;
  height:20px;
}
#u815 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:713px;
  top:336px;
  width:123px;
  height:30px;
}
#u817 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u818 {
  position:absolute;
  left:548px;
  top:453px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u818_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u818_seg1 {
  position:absolute;
  left:-14px;
  top:43px;
  width:18px;
  height:8px;
}
#u818_seg2 {
  position:absolute;
  left:-14px;
  top:43px;
  width:8px;
  height:23px;
}
#u818_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u818_seg4 {
  position:absolute;
  left:-20px;
  top:53px;
  width:20px;
  height:20px;
}
#u819 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:548px;
  top:453px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u820_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u820_seg1 {
  position:absolute;
  left:-4px;
  top:13px;
  width:223px;
  height:8px;
}
#u820_seg2 {
  position:absolute;
  left:211px;
  top:13px;
  width:8px;
  height:53px;
}
#u820_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u820_seg4 {
  position:absolute;
  left:205px;
  top:53px;
  width:20px;
  height:20px;
}
#u821 {
  position:absolute;
  left:74px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822 {
  position:absolute;
  left:548px;
  top:453px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u822_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u822_seg1 {
  position:absolute;
  left:-273px;
  top:12px;
  width:277px;
  height:8px;
}
#u822_seg2 {
  position:absolute;
  left:-273px;
  top:12px;
  width:8px;
  height:54px;
}
#u822_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u822_seg4 {
  position:absolute;
  left:-279px;
  top:53px;
  width:20px;
  height:20px;
}
#u823 {
  position:absolute;
  left:-202px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824 {
  position:absolute;
  left:279px;
  top:549px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u824_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u824_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u824_seg2 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u825 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
}
#u826 {
  position:absolute;
  left:486px;
  top:329px;
  width:125px;
  height:44px;
}
#u827 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:548px;
  top:283px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u828_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u828_seg1 {
  position:absolute;
  left:-4px;
  top:23px;
  width:9px;
  height:8px;
}
#u828_seg2 {
  position:absolute;
  left:-3px;
  top:23px;
  width:8px;
  height:23px;
}
#u828_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u828_seg4 {
  position:absolute;
  left:-9px;
  top:33px;
  width:20px;
  height:20px;
}
#u829 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830 {
  position:absolute;
  left:549px;
  top:373px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u830_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u830_seg1 {
  position:absolute;
  left:-5px;
  top:33px;
  width:9px;
  height:8px;
}
#u830_seg2 {
  position:absolute;
  left:-5px;
  top:33px;
  width:8px;
  height:17px;
}
#u830_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u830_seg4 {
  position:absolute;
  left:-11px;
  top:37px;
  width:20px;
  height:20px;
}
#u831 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u832 {
  position:absolute;
  left:611px;
  top:351px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u832_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u832_seg1 {
  position:absolute;
  left:-9px;
  top:-10px;
  width:20px;
  height:20px;
}
#u832_seg2 {
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u833 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u834 {
  position:absolute;
  left:180px;
  top:151px;
  width:207px;
  height:101px;
  font-size:13px;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u836 {
  position:absolute;
  left:16px;
  top:347px;
  width:388px;
  height:134px;
  font-size:13px;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  position:absolute;
  left:860px;
  top:329px;
  width:114px;
  height:48px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u840 {
  position:absolute;
  left:9px;
  top:664px;
  width:358px;
  height:182px;
  font-size:13px;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u842 {
  position:absolute;
  left:391px;
  top:601px;
  width:255px;
  height:106px;
  font-size:13px;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u844 {
  position:absolute;
  left:700px;
  top:601px;
  width:296px;
  height:106px;
  font-size:13px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:186px;
  height:21px;
}
#u846p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:168px;
  height:1px;
  -webkit-transform:rotate(-60deg);
  -moz-transform:rotate(-60deg);
  -ms-transform:rotate(-60deg);
  transform:rotate(-60deg);
}
#u846p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:188px;
  height:21px;
}
#u846p001 {
  position:absolute;
  left:31px;
  top:58px;
  width:22px;
  height:22px;
}
#u846p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u846p002 {
  position:absolute;
  left:112px;
  top:-80px;
  width:22px;
  height:22px;
}
#u846p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u846.compound {
  width:0px;
  height:0px;
}
#u846 {
  position:absolute;
  left:100px;
  top:591px;
  width:166px;
  height:1px;
}
#u847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:95px;
  height:21px;
}
#u848p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:77px;
  height:1px;
}
#u848p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:97px;
  height:21px;
}
#u848p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u848p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u848p002 {
  position:absolute;
  left:60px;
  top:-11px;
  width:22px;
  height:22px;
}
#u848p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u848.compound {
  width:0px;
  height:0px;
}
#u848 {
  position:absolute;
  left:633px;
  top:54px;
  width:75px;
  height:1px;
}
#u849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:97px;
  height:21px;
}
#u850p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:79px;
  height:1px;
}
#u850p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:99px;
  height:21px;
}
#u850p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u850p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u850p002 {
  position:absolute;
  left:62px;
  top:-11px;
  width:22px;
  height:22px;
}
#u850p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u850.compound {
  width:0px;
  height:0px;
}
#u850 {
  position:absolute;
  left:378px;
  top:174px;
  width:77px;
  height:1px;
}
#u851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:68px;
  height:21px;
}
#u852p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:50px;
  height:1px;
}
#u852p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:70px;
  height:21px;
}
#u852p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u852p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u852p002 {
  position:absolute;
  left:33px;
  top:-11px;
  width:22px;
  height:22px;
}
#u852p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u852.compound {
  width:0px;
  height:0px;
}
#u852 {
  position:absolute;
  left:809px;
  top:342px;
  width:48px;
  height:1px;
}
#u853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:83px;
  height:21px;
}
#u854p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:65px;
  height:1px;
}
#u854p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:85px;
  height:21px;
}
#u854p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u854p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u854p002 {
  position:absolute;
  left:48px;
  top:-11px;
  width:22px;
  height:22px;
}
#u854p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u854.compound {
  width:0px;
  height:0px;
}
#u854 {
  position:absolute;
  left:404px;
  top:431px;
  width:63px;
  height:1px;
}
#u855 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:83px;
  height:21px;
}
#u856p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:65px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u856p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:85px;
  height:21px;
}
#u856p001 {
  position:absolute;
  left:20px;
  top:-39px;
  width:22px;
  height:22px;
}
#u856p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u856p002 {
  position:absolute;
  left:20px;
  top:17px;
  width:22px;
  height:22px;
}
#u856p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u856.compound {
  width:0px;
  height:0px;
}
#u856 {
  position:absolute;
  left:762px;
  top:559px;
  width:63px;
  height:1px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:83px;
  height:21px;
}
#u858p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:65px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u858p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:85px;
  height:21px;
}
#u858p001 {
  position:absolute;
  left:20px;
  top:-39px;
  width:22px;
  height:22px;
}
#u858p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u858p002 {
  position:absolute;
  left:20px;
  top:17px;
  width:22px;
  height:22px;
}
#u858p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u858.compound {
  width:0px;
  height:0px;
}
#u858 {
  position:absolute;
  left:538px;
  top:559px;
  width:63px;
  height:1px;
}
#u859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u860 {
  position:absolute;
  left:96px;
  top:33px;
  width:321px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u862 {
  position:absolute;
  left:377px;
  top:734px;
  width:609px;
  height:144px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:450px;
  top:253px;
  width:196px;
  height:30px;
}
#u865 {
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u866 {
  position:absolute;
  left:548px;
  top:187px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u866_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u866_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u866_seg2 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u867 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
