body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:235px;
}
#u14933 {
  position:absolute;
  left:301px;
  top:347px;
  width:1655px;
  height:235px;
}
#u14934 {
  position:absolute;
  left:2px;
  top:110px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:30px;
}
#u14935 {
  position:absolute;
  left:301px;
  top:318px;
  width:1655px;
  height:30px;
}
#u14936 {
  position:absolute;
  left:2px;
  top:7px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14937 {
  position:absolute;
  left:328px;
  top:324px;
  width:59px;
  height:18px;
}
#u14938 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:223px;
}
#u14940 {
  position:absolute;
  left:301px;
  top:37px;
  width:1655px;
  height:223px;
}
#u14941 {
  position:absolute;
  left:2px;
  top:104px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u14942 {
  position:absolute;
  left:397px;
  top:59px;
  width:300px;
  height:36px;
}
#u14943 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14944 {
  position:absolute;
  left:342px;
  top:70px;
  width:39px;
  height:15px;
  font-size:13px;
}
#u14945 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:29px;
}
#u14946 {
  position:absolute;
  left:301px;
  top:9px;
  width:1655px;
  height:29px;
}
#u14947 {
  position:absolute;
  left:2px;
  top:6px;
  width:1651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14948 {
  position:absolute;
  left:328px;
  top:15px;
  width:44px;
  height:18px;
}
#u14949 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u14950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u14950 {
  position:absolute;
  left:397px;
  top:111px;
  width:136px;
  height:36px;
}
#u14951 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14952 {
  position:absolute;
  left:342px;
  top:122px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u14953 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14954 {
  position:absolute;
  left:802px;
  top:70px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u14955 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u14956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u14956 {
  position:absolute;
  left:561px;
  top:111px;
  width:136px;
  height:36px;
}
#u14957 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u14958 {
  position:absolute;
  left:857px;
  top:105px;
  width:300px;
  height:36px;
}
#u14959 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14960 {
  position:absolute;
  left:802px;
  top:116px;
  width:39px;
  height:15px;
  font-size:13px;
}
#u14961 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u14962 {
  position:absolute;
  left:1449px;
  top:60px;
  width:300px;
  height:36px;
}
#u14963 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14964 {
  position:absolute;
  left:1353px;
  top:70px;
  width:78px;
  height:15px;
  font-size:13px;
}
#u14965 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u14966 {
  position:absolute;
  left:864px;
  top:63px;
  width:300px;
  height:22px;
}
#u14966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14966_input:disabled {
  color:grayText;
}
#u14967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
}
#u14967 {
  position:absolute;
  left:342px;
  top:592px;
  width:99px;
  height:18px;
  font-size:14px;
  color:#019DDA;
}
#u14968 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u14969 {
  position:absolute;
  left:397px;
  top:277px;
  width:81px;
  height:31px;
}
#u14970 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u14971 {
  position:absolute;
  left:309px;
  top:358px;
  width:1642px;
  height:94px;
}
#u14972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u14972 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u14973 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  word-wrap:break-word;
}
#u14974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u14974 {
  position:absolute;
  left:178px;
  top:0px;
  width:232px;
  height:30px;
}
#u14975 {
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u14976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u14976 {
  position:absolute;
  left:410px;
  top:0px;
  width:205px;
  height:30px;
}
#u14977 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u14978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u14978 {
  position:absolute;
  left:615px;
  top:0px;
  width:205px;
  height:30px;
}
#u14979 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u14980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u14980 {
  position:absolute;
  left:820px;
  top:0px;
  width:205px;
  height:30px;
}
#u14981 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u14982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u14982 {
  position:absolute;
  left:1025px;
  top:0px;
  width:70px;
  height:30px;
}
#u14983 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u14984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:30px;
}
#u14984 {
  position:absolute;
  left:1095px;
  top:0px;
  width:431px;
  height:30px;
}
#u14985 {
  position:absolute;
  left:2px;
  top:8px;
  width:427px;
  word-wrap:break-word;
}
#u14986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u14986 {
  position:absolute;
  left:1526px;
  top:0px;
  width:111px;
  height:30px;
}
#u14987 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u14988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:29px;
}
#u14988 {
  position:absolute;
  left:0px;
  top:30px;
  width:178px;
  height:29px;
}
#u14989 {
  position:absolute;
  left:2px;
  top:6px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
}
#u14990 {
  position:absolute;
  left:178px;
  top:30px;
  width:232px;
  height:29px;
}
#u14991 {
  position:absolute;
  left:2px;
  top:6px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
}
#u14992 {
  position:absolute;
  left:410px;
  top:30px;
  width:205px;
  height:29px;
}
#u14993 {
  position:absolute;
  left:2px;
  top:6px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
}
#u14994 {
  position:absolute;
  left:615px;
  top:30px;
  width:205px;
  height:29px;
}
#u14995 {
  position:absolute;
  left:2px;
  top:6px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
}
#u14996 {
  position:absolute;
  left:820px;
  top:30px;
  width:205px;
  height:29px;
}
#u14997 {
  position:absolute;
  left:2px;
  top:7px;
  width:201px;
  word-wrap:break-word;
}
#u14998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
}
#u14998 {
  position:absolute;
  left:1025px;
  top:30px;
  width:70px;
  height:29px;
}
#u14999 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:29px;
}
#u15000 {
  position:absolute;
  left:1095px;
  top:30px;
  width:431px;
  height:29px;
}
#u15001 {
  position:absolute;
  left:2px;
  top:7px;
  width:427px;
  word-wrap:break-word;
}
#u15002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u15002 {
  position:absolute;
  left:1526px;
  top:30px;
  width:111px;
  height:29px;
}
#u15003 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u15004 {
  position:absolute;
  left:0px;
  top:59px;
  width:178px;
  height:30px;
}
#u15005 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u15006 {
  position:absolute;
  left:178px;
  top:59px;
  width:232px;
  height:30px;
}
#u15007 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u15008 {
  position:absolute;
  left:410px;
  top:59px;
  width:205px;
  height:30px;
}
#u15009 {
  position:absolute;
  left:2px;
  top:7px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u15010 {
  position:absolute;
  left:615px;
  top:59px;
  width:205px;
  height:30px;
}
#u15011 {
  position:absolute;
  left:2px;
  top:7px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u15012 {
  position:absolute;
  left:820px;
  top:59px;
  width:205px;
  height:30px;
}
#u15013 {
  position:absolute;
  left:2px;
  top:7px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u15014 {
  position:absolute;
  left:1025px;
  top:59px;
  width:70px;
  height:30px;
}
#u15015 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:30px;
}
#u15016 {
  position:absolute;
  left:1095px;
  top:59px;
  width:431px;
  height:30px;
}
#u15017 {
  position:absolute;
  left:2px;
  top:7px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u15018 {
  position:absolute;
  left:1526px;
  top:59px;
  width:111px;
  height:30px;
}
#u15019 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u15020 {
  position:absolute;
  left:488px;
  top:277px;
  width:81px;
  height:31px;
}
#u15021 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u15022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15022 {
  position:absolute;
  left:342px;
  top:697px;
  width:686px;
  height:471px;
}
#u15023 {
  position:absolute;
  left:2px;
  top:228px;
  width:682px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15024 {
  position:absolute;
  left:684px;
  top:720px;
  width:59px;
  height:18px;
}
#u15025 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u15026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:rgba(0, 153, 204, 0.756862745098039);
}
#u15026 {
  position:absolute;
  left:332px;
  top:394px;
  width:97px;
  height:18px;
  text-decoration:underline;
  color:rgba(0, 153, 204, 0.756862745098039);
}
#u15027 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u15028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:108px;
}
#u15028 {
  position:absolute;
  left:796px;
  top:782px;
  width:164px;
  height:107px;
}
#u15029 {
  position:absolute;
  left:2px;
  top:46px;
  width:160px;
  word-wrap:break-word;
}
#u15030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15030 {
  position:absolute;
  left:825px;
  top:899px;
  width:142px;
  height:14px;
  font-size:12px;
}
#u15031 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u15032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u15032 {
  position:absolute;
  left:443px;
  top:782px;
  width:300px;
  height:28px;
}
#u15033 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u15034 {
  position:absolute;
  left:443px;
  top:827px;
  width:300px;
  height:28px;
}
#u15035 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15036 {
  position:absolute;
  left:838px;
  top:935px;
  width:87px;
  height:18px;
}
#u15037 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u15038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15038 {
  position:absolute;
  left:385px;
  top:789px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u15039 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15040 {
  position:absolute;
  left:385px;
  top:834px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u15041 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u15042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u15042 {
  position:absolute;
  left:443px;
  top:872px;
  width:300px;
  height:28px;
}
#u15043 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15044 {
  position:absolute;
  left:385px;
  top:879px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u15045 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u15046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u15046 {
  position:absolute;
  left:444px;
  top:917px;
  width:300px;
  height:28px;
}
#u15047 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15048 {
  position:absolute;
  left:385px;
  top:924px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u15049 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u15050 {
  position:absolute;
  left:444px;
  top:959px;
  width:300px;
  height:80px;
}
#u15051 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15052 {
  position:absolute;
  left:385px;
  top:966px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u15053 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u15054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u15054 {
  position:absolute;
  left:619px;
  top:1100px;
  width:157px;
  height:34px;
}
#u15055 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
