body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:317px;
}
#u252 {
  position:absolute;
  left:937px;
  top:322px;
  width:412px;
  height:317px;
  color:#FF0000;
}
#u253 {
  position:absolute;
  left:2px;
  top:150px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:649px;
}
#u254 {
  position:absolute;
  left:807px;
  top:867px;
  width:504px;
  height:649px;
  color:#FF0000;
}
#u255 {
  position:absolute;
  left:2px;
  top:316px;
  width:500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:467px;
}
#u256 {
  position:absolute;
  left:679px;
  top:1675px;
  width:632px;
  height:467px;
  color:#FF0000;
}
#u257 {
  position:absolute;
  left:2px;
  top:226px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u258 {
  position:absolute;
  left:49px;
  top:50px;
  width:156px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:53px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u260 {
  position:absolute;
  left:295px;
  top:25px;
  width:141px;
  height:32px;
  color:#63889D;
}
#u261 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u262 {
  position:absolute;
  left:309px;
  top:163px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u263 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u264 {
  position:absolute;
  left:497px;
  top:232px;
  width:119px;
  height:27px;
  color:#63889D;
}
#u265 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u266 {
  position:absolute;
  left:309px;
  top:351px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u267 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u268 {
  position:absolute;
  left:309px;
  top:610px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u269 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u270 {
  position:absolute;
  left:309px;
  top:88px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u271 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u272 {
  position:absolute;
  left:290px;
  top:272px;
  width:152px;
  height:49px;
  color:#63889D;
}
#u273 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u274 {
  position:absolute;
  left:290px;
  top:678px;
  width:152px;
  height:45px;
  color:#63889D;
}
#u275 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u276 {
  position:absolute;
  left:309px;
  top:760px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u277 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u278 {
  position:absolute;
  left:309px;
  top:828px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u279 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u280 {
  position:absolute;
  left:290px;
  top:398px;
  width:152px;
  height:49px;
  color:#63889D;
}
#u281 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u282 {
  position:absolute;
  left:309px;
  top:882px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u283 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u284 {
  position:absolute;
  left:108px;
  top:539px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u285 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u286 {
  position:absolute;
  left:309px;
  top:485px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u287 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u288 {
  position:absolute;
  left:290px;
  top:530px;
  width:152px;
  height:45px;
  color:#63889D;
}
#u289 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:366px;
  top:57px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u290_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u290_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u290_seg2 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u291 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:366px;
  top:115px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u292_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u292_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u292_seg2 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u293 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:497px;
  top:246px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u294_seg0 {
  position:absolute;
  left:-135px;
  top:-4px;
  width:135px;
  height:8px;
}
#u294_seg1 {
  position:absolute;
  left:-135px;
  top:-4px;
  width:8px;
  height:30px;
}
#u294_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u294_seg3 {
  position:absolute;
  left:-141px;
  top:13px;
  width:20px;
  height:20px;
}
#u295 {
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:366px;
  top:190px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u296_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u296_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u296_seg2 {
  position:absolute;
  left:-10px;
  top:69px;
  width:20px;
  height:20px;
}
#u297 {
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:366px;
  top:321px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u298_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u298_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u298_seg2 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u299 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:366px;
  top:378px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u300_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u300_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u300_seg2 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:20px;
}
#u301 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:366px;
  top:575px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u302_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u302_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u302_seg2 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u303 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:366px;
  top:639px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u304_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u304_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u304_seg2 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u305 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:366px;
  top:723px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u306_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u306_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u306_seg2 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u307 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:366px;
  top:789px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u308_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u308_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u308_seg2 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u309 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310 {
  position:absolute;
  left:366px;
  top:857px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u310_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u310_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u310_seg2 {
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u311 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312 {
  position:absolute;
  left:290px;
  top:297px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u312_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u312_seg1 {
  position:absolute;
  left:-14px;
  top:-124px;
  width:8px;
  height:128px;
}
#u312_seg2 {
  position:absolute;
  left:-14px;
  top:-124px;
  width:33px;
  height:8px;
}
#u312_seg3 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u312_seg4 {
  position:absolute;
  left:6px;
  top:-130px;
  width:20px;
  height:20px;
}
#u313 {
  position:absolute;
  left:-60px;
  top:-77px;
  width:100px;
  word-wrap:break-word;
}
#u314 {
  position:absolute;
  left:366px;
  top:190px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u314_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u314_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:199px;
  height:8px;
}
#u314_seg2 {
  position:absolute;
  left:187px;
  top:26px;
  width:8px;
  height:16px;
}
#u314_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u314_seg4 {
  position:absolute;
  left:181px;
  top:29px;
  width:20px;
  height:20px;
}
#u315 {
  position:absolute;
  left:36px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316 {
  position:absolute;
  left:290px;
  top:423px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u316_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u316_seg1 {
  position:absolute;
  left:-14px;
  top:-62px;
  width:8px;
  height:66px;
}
#u316_seg2 {
  position:absolute;
  left:-14px;
  top:-62px;
  width:33px;
  height:8px;
}
#u316_seg3 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u316_seg4 {
  position:absolute;
  left:6px;
  top:-68px;
  width:20px;
  height:20px;
}
#u317 {
  position:absolute;
  left:-60px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u318 {
  position:absolute;
  left:487px;
  top:512px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u319 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:290px;
  top:553px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u320_seg0 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:73px;
  height:8px;
}
#u320_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u320_seg2 {
  position:absolute;
  left:-76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u321 {
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:422px;
  top:499px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u322_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u322_seg1 {
  position:absolute;
  left:118px;
  top:-4px;
  width:8px;
  height:17px;
}
#u322_seg2 {
  position:absolute;
  left:-9px;
  top:-10px;
  width:20px;
  height:20px;
}
#u322_seg3 {
  position:absolute;
  left:112px;
  top:0px;
  width:20px;
  height:20px;
}
#u323 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:487px;
  top:526px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u324_seg0 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:125px;
  height:8px;
}
#u324_seg1 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:8px;
  height:8px;
}
#u324_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u324_seg3 {
  position:absolute;
  left:-131px;
  top:-9px;
  width:20px;
  height:20px;
}
#u325 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326 {
  position:absolute;
  left:290px;
  top:701px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u326_seg0 {
  position:absolute;
  left:-129px;
  top:-4px;
  width:129px;
  height:8px;
}
#u326_seg1 {
  position:absolute;
  left:-129px;
  top:-135px;
  width:8px;
  height:139px;
}
#u326_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u326_seg3 {
  position:absolute;
  left:-135px;
  top:-142px;
  width:20px;
  height:20px;
}
#u327 {
  position:absolute;
  left:-175px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u328 {
  position:absolute;
  left:366px;
  top:447px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u328_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u328_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u328_seg2 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u329 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u330 {
  position:absolute;
  left:102px;
  top:1464px;
  width:119px;
  height:25px;
}
#u331 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  position:absolute;
  left:290px;
  top:1464px;
  width:119px;
  height:25px;
}
#u333 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  position:absolute;
  left:481px;
  top:1464px;
  width:119px;
  height:25px;
}
#u335 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
