body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:317px;
}
#u1740 {
  position:absolute;
  left:937px;
  top:322px;
  width:412px;
  height:317px;
  color:#FF0000;
}
#u1741 {
  position:absolute;
  left:2px;
  top:150px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:649px;
}
#u1742 {
  position:absolute;
  left:807px;
  top:867px;
  width:504px;
  height:649px;
  color:#FF0000;
}
#u1743 {
  position:absolute;
  left:2px;
  top:316px;
  width:500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:467px;
}
#u1744 {
  position:absolute;
  left:679px;
  top:1675px;
  width:632px;
  height:467px;
  color:#FF0000;
}
#u1745 {
  position:absolute;
  left:2px;
  top:226px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1746 {
  position:absolute;
  left:49px;
  top:50px;
  width:156px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:53px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1748 {
  position:absolute;
  left:295px;
  top:25px;
  width:141px;
  height:32px;
  color:#63889D;
}
#u1749 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1750 {
  position:absolute;
  left:309px;
  top:163px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u1751 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1752 {
  position:absolute;
  left:497px;
  top:232px;
  width:119px;
  height:27px;
  color:#63889D;
}
#u1753 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1754 {
  position:absolute;
  left:309px;
  top:351px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u1755 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1756 {
  position:absolute;
  left:309px;
  top:610px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u1757 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1758 {
  position:absolute;
  left:309px;
  top:88px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u1759 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1760 {
  position:absolute;
  left:290px;
  top:272px;
  width:152px;
  height:49px;
  color:#63889D;
}
#u1761 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u1762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u1762 {
  position:absolute;
  left:290px;
  top:678px;
  width:152px;
  height:45px;
  color:#63889D;
}
#u1763 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u1764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1764 {
  position:absolute;
  left:309px;
  top:760px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u1765 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1766 {
  position:absolute;
  left:309px;
  top:828px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u1767 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1768 {
  position:absolute;
  left:290px;
  top:398px;
  width:152px;
  height:49px;
  color:#63889D;
}
#u1769 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1770 {
  position:absolute;
  left:309px;
  top:882px;
  width:113px;
  height:29px;
  color:#63889D;
}
#u1771 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1772 {
  position:absolute;
  left:108px;
  top:539px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u1773 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1774 {
  position:absolute;
  left:309px;
  top:485px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u1775 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u1776 {
  position:absolute;
  left:290px;
  top:530px;
  width:152px;
  height:45px;
  color:#63889D;
}
#u1777 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u1778 {
  position:absolute;
  left:366px;
  top:57px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1778_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u1778_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1778_seg2 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u1779 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780 {
  position:absolute;
  left:366px;
  top:115px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1780_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1780_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1780_seg2 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u1781 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782 {
  position:absolute;
  left:497px;
  top:246px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1782_seg0 {
  position:absolute;
  left:-135px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1782_seg1 {
  position:absolute;
  left:-135px;
  top:-4px;
  width:8px;
  height:30px;
}
#u1782_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1782_seg3 {
  position:absolute;
  left:-141px;
  top:13px;
  width:20px;
  height:20px;
}
#u1783 {
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784 {
  position:absolute;
  left:366px;
  top:190px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1784_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u1784_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1784_seg2 {
  position:absolute;
  left:-10px;
  top:69px;
  width:20px;
  height:20px;
}
#u1785 {
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786 {
  position:absolute;
  left:366px;
  top:321px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1786_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1786_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1786_seg2 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u1787 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u1788 {
  position:absolute;
  left:366px;
  top:378px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1788_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u1788_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1788_seg2 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:20px;
}
#u1789 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790 {
  position:absolute;
  left:366px;
  top:575px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1790_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1790_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1790_seg2 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u1791 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1792 {
  position:absolute;
  left:366px;
  top:639px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1792_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1792_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1792_seg2 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1793 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1794 {
  position:absolute;
  left:366px;
  top:723px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1794_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u1794_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1794_seg2 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u1795 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u1796 {
  position:absolute;
  left:366px;
  top:789px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1796_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1796_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1796_seg2 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1797 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798 {
  position:absolute;
  left:366px;
  top:857px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1798_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u1798_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1798_seg2 {
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u1799 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800 {
  position:absolute;
  left:290px;
  top:297px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1800_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1800_seg1 {
  position:absolute;
  left:-14px;
  top:-124px;
  width:8px;
  height:128px;
}
#u1800_seg2 {
  position:absolute;
  left:-14px;
  top:-124px;
  width:33px;
  height:8px;
}
#u1800_seg3 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1800_seg4 {
  position:absolute;
  left:6px;
  top:-130px;
  width:20px;
  height:20px;
}
#u1801 {
  position:absolute;
  left:-60px;
  top:-77px;
  width:100px;
  word-wrap:break-word;
}
#u1802 {
  position:absolute;
  left:366px;
  top:190px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1802_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1802_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:199px;
  height:8px;
}
#u1802_seg2 {
  position:absolute;
  left:187px;
  top:26px;
  width:8px;
  height:16px;
}
#u1802_seg3 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1802_seg4 {
  position:absolute;
  left:181px;
  top:29px;
  width:20px;
  height:20px;
}
#u1803 {
  position:absolute;
  left:36px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804 {
  position:absolute;
  left:290px;
  top:423px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1804_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1804_seg1 {
  position:absolute;
  left:-14px;
  top:-62px;
  width:8px;
  height:66px;
}
#u1804_seg2 {
  position:absolute;
  left:-14px;
  top:-62px;
  width:33px;
  height:8px;
}
#u1804_seg3 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1804_seg4 {
  position:absolute;
  left:6px;
  top:-68px;
  width:20px;
  height:20px;
}
#u1805 {
  position:absolute;
  left:-60px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u1806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 136, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63889D;
}
#u1806 {
  position:absolute;
  left:487px;
  top:512px;
  width:113px;
  height:27px;
  color:#63889D;
}
#u1807 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1808 {
  position:absolute;
  left:290px;
  top:553px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1808_seg0 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1808_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1808_seg2 {
  position:absolute;
  left:-76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1809 {
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1810 {
  position:absolute;
  left:422px;
  top:499px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1810_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u1810_seg1 {
  position:absolute;
  left:118px;
  top:-4px;
  width:8px;
  height:17px;
}
#u1810_seg2 {
  position:absolute;
  left:-9px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1810_seg3 {
  position:absolute;
  left:112px;
  top:0px;
  width:20px;
  height:20px;
}
#u1811 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812 {
  position:absolute;
  left:487px;
  top:526px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1812_seg0 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:125px;
  height:8px;
}
#u1812_seg1 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:8px;
  height:8px;
}
#u1812_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1812_seg3 {
  position:absolute;
  left:-131px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1813 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814 {
  position:absolute;
  left:290px;
  top:701px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1814_seg0 {
  position:absolute;
  left:-129px;
  top:-4px;
  width:129px;
  height:8px;
}
#u1814_seg1 {
  position:absolute;
  left:-129px;
  top:-135px;
  width:8px;
  height:139px;
}
#u1814_seg2 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1814_seg3 {
  position:absolute;
  left:-135px;
  top:-142px;
  width:20px;
  height:20px;
}
#u1815 {
  position:absolute;
  left:-175px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u1816 {
  position:absolute;
  left:366px;
  top:447px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u1816_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1816_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1816_seg2 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u1817 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  position:absolute;
  left:102px;
  top:1464px;
  width:119px;
  height:25px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1820 {
  position:absolute;
  left:290px;
  top:1464px;
  width:119px;
  height:25px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u1822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1822 {
  position:absolute;
  left:481px;
  top:1464px;
  width:119px;
  height:25px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
