body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u21862 {
  position:absolute;
  left:224px;
  top:14px;
  width:1720px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u21863 {
  position:absolute;
  left:2px;
  top:5px;
  width:1716px;
  word-wrap:break-word;
}
#u21864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21865 {
  position:absolute;
  left:321px;
  top:56px;
  width:15px;
  height:14px;
  font-size:12px;
}
#u21866 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21867 {
  position:absolute;
  left:285px;
  top:99px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u21868 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21869 {
  position:absolute;
  left:296px;
  top:143px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u21870 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21871 {
  position:absolute;
  left:281px;
  top:190px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21872 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21873 {
  position:absolute;
  left:681px;
  top:184px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21874 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21875 {
  position:absolute;
  left:385px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21876 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21877 {
  position:absolute;
  left:385px;
  top:99px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21878 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21879 {
  position:absolute;
  left:385px;
  top:143px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21880 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21881 {
  position:absolute;
  left:385px;
  top:190px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21882 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21883 {
  position:absolute;
  left:785px;
  top:184px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21884 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21885 {
  position:absolute;
  left:310px;
  top:253px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u21886 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21888 {
  position:absolute;
  left:676px;
  top:56px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21889 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21890 {
  position:absolute;
  left:676px;
  top:100px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21891 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21892 {
  position:absolute;
  left:782px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21893 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21894 {
  position:absolute;
  left:782px;
  top:100px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21895 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21896 {
  position:absolute;
  left:659px;
  top:143px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u21897 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21898 {
  position:absolute;
  left:793px;
  top:143px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21899 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21901 {
  position:absolute;
  left:1171px;
  top:50px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u21902 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21903 {
  position:absolute;
  left:1157px;
  top:94px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21904 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21905 {
  position:absolute;
  left:1246px;
  top:50px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21906 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21907 {
  position:absolute;
  left:1246px;
  top:94px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21908 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21909 {
  position:absolute;
  left:1140px;
  top:140px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u21910 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21911 {
  position:absolute;
  left:1157px;
  top:184px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21912 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21913 {
  position:absolute;
  left:1246px;
  top:140px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21914 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21915 {
  position:absolute;
  left:1246px;
  top:184px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21918 {
  position:absolute;
  left:1613px;
  top:56px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21919 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21920 {
  position:absolute;
  left:1616px;
  top:101px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u21921 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21922 {
  position:absolute;
  left:1705px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21923 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21924 {
  position:absolute;
  left:1705px;
  top:101px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u21925 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21926 {
  position:absolute;
  left:385px;
  top:245px;
  width:590px;
  height:62px;
  font-size:12px;
}
#u21927 {
  position:absolute;
  left:2px;
  top:23px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u21928 {
  position:absolute;
  left:224px;
  top:517px;
  width:1720px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u21929 {
  position:absolute;
  left:2px;
  top:5px;
  width:1716px;
  word-wrap:break-word;
}
#u21930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21931 {
  position:absolute;
  left:243px;
  top:581px;
  width:1696px;
  height:70px;
}
#u21932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u21932 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  font-size:12px;
}
#u21933 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u21934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u21934 {
  position:absolute;
  left:90px;
  top:0px;
  width:72px;
  height:37px;
  font-size:12px;
}
#u21935 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u21936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u21936 {
  position:absolute;
  left:162px;
  top:0px;
  width:92px;
  height:37px;
  font-size:12px;
}
#u21937 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u21938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u21938 {
  position:absolute;
  left:254px;
  top:0px;
  width:98px;
  height:37px;
  font-size:12px;
}
#u21939 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u21940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u21940 {
  position:absolute;
  left:352px;
  top:0px;
  width:112px;
  height:37px;
  font-size:12px;
  color:#FF0000;
}
#u21941 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u21942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u21942 {
  position:absolute;
  left:464px;
  top:0px;
  width:108px;
  height:37px;
  font-size:12px;
}
#u21943 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u21944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u21944 {
  position:absolute;
  left:572px;
  top:0px;
  width:97px;
  height:37px;
  font-size:12px;
}
#u21945 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u21946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u21946 {
  position:absolute;
  left:669px;
  top:0px;
  width:114px;
  height:37px;
  font-size:12px;
}
#u21947 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u21948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u21948 {
  position:absolute;
  left:783px;
  top:0px;
  width:96px;
  height:37px;
  font-size:12px;
}
#u21949 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u21950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u21950 {
  position:absolute;
  left:879px;
  top:0px;
  width:96px;
  height:37px;
  font-size:12px;
}
#u21951 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u21952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u21952 {
  position:absolute;
  left:975px;
  top:0px;
  width:120px;
  height:37px;
  font-size:12px;
}
#u21953 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u21954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
}
#u21954 {
  position:absolute;
  left:1095px;
  top:0px;
  width:131px;
  height:37px;
  font-size:12px;
}
#u21955 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u21956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:37px;
}
#u21956 {
  position:absolute;
  left:1226px;
  top:0px;
  width:142px;
  height:37px;
  font-size:12px;
}
#u21957 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u21958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u21958 {
  position:absolute;
  left:1368px;
  top:0px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u21959 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u21960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
}
#u21960 {
  position:absolute;
  left:1481px;
  top:0px;
  width:210px;
  height:37px;
  font-size:12px;
}
#u21961 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u21962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u21962 {
  position:absolute;
  left:0px;
  top:37px;
  width:90px;
  height:28px;
  font-size:12px;
}
#u21963 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u21964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u21964 {
  position:absolute;
  left:90px;
  top:37px;
  width:72px;
  height:28px;
  font-size:12px;
}
#u21965 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u21966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u21966 {
  position:absolute;
  left:162px;
  top:37px;
  width:92px;
  height:28px;
  font-size:12px;
}
#u21967 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u21968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u21968 {
  position:absolute;
  left:254px;
  top:37px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u21969 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u21970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
}
#u21970 {
  position:absolute;
  left:352px;
  top:37px;
  width:112px;
  height:28px;
  font-size:12px;
}
#u21971 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u21972 {
  position:absolute;
  left:464px;
  top:37px;
  width:108px;
  height:28px;
  font-size:12px;
}
#u21973 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u21974 {
  position:absolute;
  left:572px;
  top:37px;
  width:97px;
  height:28px;
  font-size:12px;
}
#u21975 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u21976 {
  position:absolute;
  left:669px;
  top:37px;
  width:114px;
  height:28px;
  font-size:12px;
}
#u21977 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u21978 {
  position:absolute;
  left:783px;
  top:37px;
  width:96px;
  height:28px;
  font-size:12px;
}
#u21979 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u21980 {
  position:absolute;
  left:879px;
  top:37px;
  width:96px;
  height:28px;
  font-size:12px;
}
#u21981 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u21982 {
  position:absolute;
  left:975px;
  top:37px;
  width:120px;
  height:28px;
  font-size:12px;
}
#u21983 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
}
#u21984 {
  position:absolute;
  left:1095px;
  top:37px;
  width:131px;
  height:28px;
  font-size:12px;
}
#u21985 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u21986 {
  position:absolute;
  left:1226px;
  top:37px;
  width:142px;
  height:28px;
  font-size:12px;
}
#u21987 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
}
#u21988 {
  position:absolute;
  left:1368px;
  top:37px;
  width:113px;
  height:28px;
  font-size:12px;
}
#u21989 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
}
#u21990 {
  position:absolute;
  left:1481px;
  top:37px;
  width:210px;
  height:28px;
  font-size:12px;
}
#u21991 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u21992 {
  position:absolute;
  left:252px;
  top:547px;
  width:99px;
  height:28px;
  font-size:12px;
}
#u21993 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u21994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u21994 {
  position:absolute;
  left:579px;
  top:547px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u21995 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u21996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u21996 {
  position:absolute;
  left:658px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u21997 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u21998_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u21998p000 {
  position:absolute;
  left:-101px;
  top:99px;
  width:203px;
  height:2px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u21998p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:223px;
  height:22px;
}
#u21998p001 {
  position:absolute;
  left:38px;
  top:4px;
  width:22px;
  height:22px;
}
#u21998p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u21998p002 {
  position:absolute;
  left:-60px;
  top:173px;
  width:22px;
  height:22px;
}
#u21998p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u21998.compound {
  width:0px;
  height:0px;
}
#u21998 {
  position:absolute;
  left:268px;
  top:549px;
  width:1px;
  height:200px;
}
#u21999 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u22000p000 {
  position:absolute;
  left:-100px;
  top:99px;
  width:202px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22000p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u22000p001 {
  position:absolute;
  left:87px;
  top:88px;
  width:22px;
  height:22px;
}
#u22000p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22000p002 {
  position:absolute;
  left:-108px;
  top:88px;
  width:22px;
  height:22px;
}
#u22000p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22000.compound {
  width:0px;
  height:0px;
}
#u22000 {
  position:absolute;
  left:712px;
  top:462px;
  width:1px;
  height:200px;
}
#u22001 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u22002 {
  position:absolute;
  left:827px;
  top:543px;
  width:214px;
  height:30px;
  color:#FF0000;
}
#u22003 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u22004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u22004 {
  position:absolute;
  left:397px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u22005 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u22006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u22006 {
  position:absolute;
  left:137px;
  top:746px;
  width:334px;
  height:30px;
  color:#FF0000;
}
#u22007 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u22008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22008 {
  position:absolute;
  left:315px;
  top:1052px;
  width:590px;
  height:25px;
  font-size:12px;
}
#u22009 {
  position:absolute;
  left:2px;
  top:4px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22010 {
  position:absolute;
  left:243px;
  top:974px;
  width:824px;
  height:478px;
}
#u22011 {
  position:absolute;
  left:2px;
  top:231px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u22012 {
  position:absolute;
  left:243px;
  top:974px;
  width:824px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u22013 {
  position:absolute;
  left:2px;
  top:5px;
  width:820px;
  word-wrap:break-word;
}
#u22014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22014 {
  position:absolute;
  left:274px;
  top:1035px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u22015 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22016 {
  position:absolute;
  left:687px;
  top:1074px;
  width:40px;
  height:13px;
  font-size:12px;
}
#u22017 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u22018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22018 {
  position:absolute;
  left:672px;
  top:1121px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u22019 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u22020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22020 {
  position:absolute;
  left:677px;
  top:1171px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u22021 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u22022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22022 {
  position:absolute;
  left:306px;
  top:1219px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u22023 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22024 {
  position:absolute;
  left:288px;
  top:1080px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u22025 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u22026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22026 {
  position:absolute;
  left:282px;
  top:1126px;
  width:48px;
  height:13px;
  font-size:12px;
}
#u22027 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u22028 {
  position:absolute;
  left:340px;
  top:1032px;
  width:300px;
  height:24px;
  color:#CCCCCC;
}
#u22029 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22030 {
  position:absolute;
  left:338px;
  top:1074px;
  width:300px;
  height:24px;
}
#u22031 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22032 {
  position:absolute;
  left:340px;
  top:1120px;
  width:300px;
  height:24px;
}
#u22033 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u22034 {
  position:absolute;
  left:735px;
  top:1032px;
  width:300px;
  height:24px;
  color:#CCCCCC;
}
#u22035 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22036 {
  position:absolute;
  left:677px;
  top:1038px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u22037 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u22038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22038 {
  position:absolute;
  left:735px;
  top:1074px;
  width:300px;
  height:24px;
}
#u22039 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22040 {
  position:absolute;
  left:735px;
  top:1119px;
  width:300px;
  height:24px;
}
#u22041 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22042 {
  position:absolute;
  left:735px;
  top:1169px;
  width:300px;
  height:24px;
}
#u22043 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22044 {
  position:absolute;
  left:340px;
  top:1167px;
  width:300px;
  height:24px;
}
#u22045 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u22046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22046 {
  position:absolute;
  left:282px;
  top:1173px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u22047 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22048 {
  position:absolute;
  left:519px;
  top:1340px;
  width:148px;
  height:39px;
}
#u22049 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u22050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22050 {
  position:absolute;
  left:340px;
  top:1219px;
  width:300px;
  height:24px;
}
#u22051 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22052_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:220px;
  height:21px;
}
#u22052p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u22052p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u22052p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u22052p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22052p002 {
  position:absolute;
  left:186px;
  top:-11px;
  width:22px;
  height:22px;
}
#u22052p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22052.compound {
  width:0px;
  height:0px;
}
#u22052 {
  position:absolute;
  left:628px;
  top:1359px;
  width:200px;
  height:1px;
}
#u22053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u22054 {
  position:absolute;
  left:811px;
  top:1383px;
  width:315px;
  height:35px;
  color:#FF0000;
}
#u22055 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u22056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u22056 {
  position:absolute;
  left:49px;
  top:1156px;
  width:173px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u22057 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u22058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22058 {
  position:absolute;
  left:321px;
  top:656px;
  width:52px;
  height:19px;
}
#u22059 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22060 {
  position:absolute;
  left:672px;
  top:807px;
  width:148px;
  height:39px;
}
#u22061 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u22062_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:220px;
  height:21px;
}
#u22062p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u22062p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u22062p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u22062p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22062p002 {
  position:absolute;
  left:186px;
  top:-11px;
  width:22px;
  height:22px;
}
#u22062p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22062.compound {
  width:0px;
  height:0px;
}
#u22062 {
  position:absolute;
  left:1216px;
  top:191px;
  width:200px;
  height:1px;
}
#u22063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u22064 {
  position:absolute;
  left:1395px;
  top:209px;
  width:563px;
  height:35px;
  color:#FF0000;
}
#u22065 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  white-space:nowrap;
}
#u22066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u22066 {
  position:absolute;
  left:481px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u22067 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u22068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22068 {
  position:absolute;
  left:293px;
  top:356px;
  width:59px;
  height:18px;
}
#u22069 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u22070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u22070 {
  position:absolute;
  left:385px;
  top:332px;
  width:64px;
  height:66px;
  color:#CCCCCC;
}
#u22071 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
#u22072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u22072 {
  position:absolute;
  left:385px;
  top:414px;
  width:64px;
  height:66px;
  color:#CCCCCC;
}
#u22073 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
