body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u13085 {
  position:absolute;
  left:224px;
  top:14px;
  width:1720px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u13086 {
  position:absolute;
  left:2px;
  top:5px;
  width:1716px;
  word-wrap:break-word;
}
#u13087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13088 {
  position:absolute;
  left:321px;
  top:56px;
  width:15px;
  height:14px;
  font-size:12px;
}
#u13089 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13090 {
  position:absolute;
  left:285px;
  top:99px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u13091 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13092 {
  position:absolute;
  left:296px;
  top:143px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u13093 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13094 {
  position:absolute;
  left:281px;
  top:190px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13095 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13096 {
  position:absolute;
  left:681px;
  top:184px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13097 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13098 {
  position:absolute;
  left:385px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13099 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13100 {
  position:absolute;
  left:385px;
  top:99px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13101 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13102 {
  position:absolute;
  left:385px;
  top:143px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13103 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13104 {
  position:absolute;
  left:385px;
  top:190px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13105 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13106 {
  position:absolute;
  left:785px;
  top:184px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13107 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13108 {
  position:absolute;
  left:310px;
  top:253px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u13109 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13111 {
  position:absolute;
  left:676px;
  top:56px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13112 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13113 {
  position:absolute;
  left:676px;
  top:100px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13114 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13115 {
  position:absolute;
  left:782px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13117 {
  position:absolute;
  left:782px;
  top:100px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13118 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13119 {
  position:absolute;
  left:659px;
  top:143px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u13120 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13121 {
  position:absolute;
  left:793px;
  top:143px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13124 {
  position:absolute;
  left:1171px;
  top:50px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u13125 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13126 {
  position:absolute;
  left:1157px;
  top:94px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13127 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13128 {
  position:absolute;
  left:1246px;
  top:50px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13129 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13130 {
  position:absolute;
  left:1246px;
  top:94px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13132 {
  position:absolute;
  left:1140px;
  top:140px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u13133 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13134 {
  position:absolute;
  left:1157px;
  top:184px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13136 {
  position:absolute;
  left:1246px;
  top:140px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13137 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13138 {
  position:absolute;
  left:1246px;
  top:184px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13141 {
  position:absolute;
  left:1613px;
  top:56px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13142 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13143 {
  position:absolute;
  left:1616px;
  top:101px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u13144 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13145 {
  position:absolute;
  left:1705px;
  top:56px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13146 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13147 {
  position:absolute;
  left:1705px;
  top:101px;
  width:65px;
  height:14px;
  font-size:12px;
}
#u13148 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13149 {
  position:absolute;
  left:385px;
  top:245px;
  width:590px;
  height:62px;
  font-size:12px;
}
#u13150 {
  position:absolute;
  left:2px;
  top:23px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u13151 {
  position:absolute;
  left:224px;
  top:517px;
  width:1720px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u13152 {
  position:absolute;
  left:2px;
  top:5px;
  width:1716px;
  word-wrap:break-word;
}
#u13153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13154 {
  position:absolute;
  left:243px;
  top:581px;
  width:1696px;
  height:70px;
}
#u13155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  font-size:12px;
}
#u13156 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u13157 {
  position:absolute;
  left:90px;
  top:0px;
  width:72px;
  height:37px;
  font-size:12px;
}
#u13158 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u13159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u13159 {
  position:absolute;
  left:162px;
  top:0px;
  width:92px;
  height:37px;
  font-size:12px;
}
#u13160 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u13161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u13161 {
  position:absolute;
  left:254px;
  top:0px;
  width:98px;
  height:37px;
  font-size:12px;
}
#u13162 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u13163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
}
#u13163 {
  position:absolute;
  left:352px;
  top:0px;
  width:112px;
  height:37px;
  font-size:12px;
  color:#FF0000;
}
#u13164 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u13165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u13165 {
  position:absolute;
  left:464px;
  top:0px;
  width:108px;
  height:37px;
  font-size:12px;
}
#u13166 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u13167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u13167 {
  position:absolute;
  left:572px;
  top:0px;
  width:97px;
  height:37px;
  font-size:12px;
}
#u13168 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u13169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u13169 {
  position:absolute;
  left:669px;
  top:0px;
  width:114px;
  height:37px;
  font-size:12px;
}
#u13170 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u13171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u13171 {
  position:absolute;
  left:783px;
  top:0px;
  width:96px;
  height:37px;
  font-size:12px;
}
#u13172 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u13173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u13173 {
  position:absolute;
  left:879px;
  top:0px;
  width:96px;
  height:37px;
  font-size:12px;
}
#u13174 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u13175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u13175 {
  position:absolute;
  left:975px;
  top:0px;
  width:120px;
  height:37px;
  font-size:12px;
}
#u13176 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u13177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
}
#u13177 {
  position:absolute;
  left:1095px;
  top:0px;
  width:131px;
  height:37px;
  font-size:12px;
}
#u13178 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u13179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:37px;
}
#u13179 {
  position:absolute;
  left:1226px;
  top:0px;
  width:142px;
  height:37px;
  font-size:12px;
}
#u13180 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u13181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u13181 {
  position:absolute;
  left:1368px;
  top:0px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u13182 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u13183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
}
#u13183 {
  position:absolute;
  left:1481px;
  top:0px;
  width:210px;
  height:37px;
  font-size:12px;
}
#u13184 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u13185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u13185 {
  position:absolute;
  left:0px;
  top:37px;
  width:90px;
  height:28px;
  font-size:12px;
}
#u13186 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u13187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u13187 {
  position:absolute;
  left:90px;
  top:37px;
  width:72px;
  height:28px;
  font-size:12px;
}
#u13188 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u13189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u13189 {
  position:absolute;
  left:162px;
  top:37px;
  width:92px;
  height:28px;
  font-size:12px;
}
#u13190 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u13191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
}
#u13191 {
  position:absolute;
  left:254px;
  top:37px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u13192 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u13193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
}
#u13193 {
  position:absolute;
  left:352px;
  top:37px;
  width:112px;
  height:28px;
  font-size:12px;
}
#u13194 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u13195 {
  position:absolute;
  left:464px;
  top:37px;
  width:108px;
  height:28px;
  font-size:12px;
}
#u13196 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u13197 {
  position:absolute;
  left:572px;
  top:37px;
  width:97px;
  height:28px;
  font-size:12px;
}
#u13198 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13199 {
  position:absolute;
  left:669px;
  top:37px;
  width:114px;
  height:28px;
  font-size:12px;
}
#u13200 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u13201 {
  position:absolute;
  left:783px;
  top:37px;
  width:96px;
  height:28px;
  font-size:12px;
}
#u13202 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u13203 {
  position:absolute;
  left:879px;
  top:37px;
  width:96px;
  height:28px;
  font-size:12px;
}
#u13204 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u13205 {
  position:absolute;
  left:975px;
  top:37px;
  width:120px;
  height:28px;
  font-size:12px;
}
#u13206 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
}
#u13207 {
  position:absolute;
  left:1095px;
  top:37px;
  width:131px;
  height:28px;
  font-size:12px;
}
#u13208 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u13209 {
  position:absolute;
  left:1226px;
  top:37px;
  width:142px;
  height:28px;
  font-size:12px;
}
#u13210 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
}
#u13211 {
  position:absolute;
  left:1368px;
  top:37px;
  width:113px;
  height:28px;
  font-size:12px;
}
#u13212 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
}
#u13213 {
  position:absolute;
  left:1481px;
  top:37px;
  width:210px;
  height:28px;
  font-size:12px;
}
#u13214 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u13215 {
  position:absolute;
  left:252px;
  top:547px;
  width:99px;
  height:28px;
  font-size:12px;
}
#u13216 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13217 {
  position:absolute;
  left:579px;
  top:547px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13218 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13219 {
  position:absolute;
  left:658px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13220 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13221_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u13221p000 {
  position:absolute;
  left:-101px;
  top:99px;
  width:203px;
  height:2px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u13221p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:223px;
  height:22px;
}
#u13221p001 {
  position:absolute;
  left:38px;
  top:4px;
  width:22px;
  height:22px;
}
#u13221p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13221p002 {
  position:absolute;
  left:-60px;
  top:173px;
  width:22px;
  height:22px;
}
#u13221p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13221.compound {
  width:0px;
  height:0px;
}
#u13221 {
  position:absolute;
  left:268px;
  top:549px;
  width:1px;
  height:200px;
}
#u13222 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13223_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:220px;
}
#u13223p000 {
  position:absolute;
  left:-100px;
  top:99px;
  width:202px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13223p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u13223p001 {
  position:absolute;
  left:87px;
  top:88px;
  width:22px;
  height:22px;
}
#u13223p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13223p002 {
  position:absolute;
  left:-108px;
  top:88px;
  width:22px;
  height:22px;
}
#u13223p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13223.compound {
  width:0px;
  height:0px;
}
#u13223 {
  position:absolute;
  left:712px;
  top:462px;
  width:1px;
  height:200px;
}
#u13224 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u13225 {
  position:absolute;
  left:827px;
  top:543px;
  width:214px;
  height:30px;
  color:#FF0000;
}
#u13226 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u13227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13227 {
  position:absolute;
  left:397px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13228 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u13229 {
  position:absolute;
  left:137px;
  top:746px;
  width:334px;
  height:30px;
  color:#FF0000;
}
#u13230 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u13231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13231 {
  position:absolute;
  left:315px;
  top:1052px;
  width:590px;
  height:25px;
  font-size:12px;
}
#u13232 {
  position:absolute;
  left:2px;
  top:4px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13233 {
  position:absolute;
  left:243px;
  top:974px;
  width:824px;
  height:478px;
}
#u13234 {
  position:absolute;
  left:2px;
  top:231px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:24px;
  background:inherit;
  background-color:rgba(99, 136, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13235 {
  position:absolute;
  left:243px;
  top:974px;
  width:824px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u13236 {
  position:absolute;
  left:2px;
  top:5px;
  width:820px;
  word-wrap:break-word;
}
#u13237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13237 {
  position:absolute;
  left:274px;
  top:1035px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u13238 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13239 {
  position:absolute;
  left:687px;
  top:1074px;
  width:40px;
  height:13px;
  font-size:12px;
}
#u13240 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u13241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13241 {
  position:absolute;
  left:672px;
  top:1121px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u13242 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13243 {
  position:absolute;
  left:677px;
  top:1171px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u13244 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13245 {
  position:absolute;
  left:306px;
  top:1219px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u13246 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13247 {
  position:absolute;
  left:288px;
  top:1080px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u13248 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13249 {
  position:absolute;
  left:282px;
  top:1126px;
  width:48px;
  height:13px;
  font-size:12px;
}
#u13250 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13251 {
  position:absolute;
  left:340px;
  top:1032px;
  width:300px;
  height:24px;
  color:#CCCCCC;
}
#u13252 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13253 {
  position:absolute;
  left:338px;
  top:1074px;
  width:300px;
  height:24px;
}
#u13254 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13255 {
  position:absolute;
  left:340px;
  top:1120px;
  width:300px;
  height:24px;
}
#u13256 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13257 {
  position:absolute;
  left:735px;
  top:1032px;
  width:300px;
  height:24px;
  color:#CCCCCC;
}
#u13258 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13259 {
  position:absolute;
  left:677px;
  top:1038px;
  width:52px;
  height:13px;
  font-size:12px;
}
#u13260 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13261 {
  position:absolute;
  left:735px;
  top:1074px;
  width:300px;
  height:24px;
}
#u13262 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13263 {
  position:absolute;
  left:735px;
  top:1119px;
  width:300px;
  height:24px;
}
#u13264 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13265 {
  position:absolute;
  left:735px;
  top:1169px;
  width:300px;
  height:24px;
}
#u13266 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13267 {
  position:absolute;
  left:340px;
  top:1167px;
  width:300px;
  height:24px;
}
#u13268 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u13269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13269 {
  position:absolute;
  left:282px;
  top:1173px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u13270 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13271 {
  position:absolute;
  left:519px;
  top:1340px;
  width:148px;
  height:39px;
}
#u13272 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u13273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13273 {
  position:absolute;
  left:340px;
  top:1219px;
  width:300px;
  height:24px;
}
#u13274 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13275_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:220px;
  height:21px;
}
#u13275p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u13275p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u13275p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13275p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13275p002 {
  position:absolute;
  left:186px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13275p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13275.compound {
  width:0px;
  height:0px;
}
#u13275 {
  position:absolute;
  left:628px;
  top:1359px;
  width:200px;
  height:1px;
}
#u13276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13277 {
  position:absolute;
  left:811px;
  top:1383px;
  width:315px;
  height:35px;
  color:#FF0000;
}
#u13278 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u13279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u13279 {
  position:absolute;
  left:49px;
  top:1156px;
  width:173px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u13280 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u13281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13281 {
  position:absolute;
  left:321px;
  top:656px;
  width:52px;
  height:19px;
}
#u13282 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13283 {
  position:absolute;
  left:672px;
  top:807px;
  width:148px;
  height:39px;
}
#u13284 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u13285_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:220px;
  height:21px;
}
#u13285p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u13285p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:222px;
  height:21px;
}
#u13285p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13285p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13285p002 {
  position:absolute;
  left:186px;
  top:-11px;
  width:22px;
  height:22px;
}
#u13285p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u13285.compound {
  width:0px;
  height:0px;
}
#u13285 {
  position:absolute;
  left:1216px;
  top:191px;
  width:200px;
  height:1px;
}
#u13286 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13287 {
  position:absolute;
  left:1395px;
  top:209px;
  width:563px;
  height:35px;
  color:#FF0000;
}
#u13288 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  white-space:nowrap;
}
#u13289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u13289 {
  position:absolute;
  left:481px;
  top:548px;
  width:64px;
  height:27px;
  font-size:12px;
}
#u13290 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13291 {
  position:absolute;
  left:293px;
  top:356px;
  width:59px;
  height:18px;
}
#u13292 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13293 {
  position:absolute;
  left:385px;
  top:332px;
  width:64px;
  height:66px;
  color:#CCCCCC;
}
#u13294 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
#u13295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13295 {
  position:absolute;
  left:385px;
  top:414px;
  width:64px;
  height:66px;
  color:#CCCCCC;
}
#u13296 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
